swagger: '2.0'
info:
  version: '2.0'
  title: Customer
  description: |
    This API will gives you the ability to :
    - manage your account
    - manage your stores
    - shares your stores with your friends
    - manage your contracts
    - access to your invoices
 
 
  contact:
    email: support@beezup.com
  
  license:
    name: BeezUP 
    url: http://www.beezup.com  
    
    
  x-changeComment: |
    Change usegravatar to profilePictureSelected enum
    Add profilePictureInfo
   

host: api.beezup.com
x-host: api.beezup.com

basePath: /v2/user/customer
x-basePath: /v2/user/customer

x-api-name: V2UserCustomer
x-api-namespace: BeezUP.Customer.WebService

schemes:
  - https

securityDefinitions:
  api_key:
    description: the api subscription key
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header

security:
- api_key: []
      

# tags are used for organizing operations
tags:
- name: Account
  description: All user account operations 
- name: Stores
  description: All stores operations
- name: Shares
  description: All store share operations
- name: Alerts
  description: All stores's alerts operations
- name: Rights
  description: All store rights operations
- name: Friends
  description: All friends operations
- name: Contracts
  description: All contracts and offer operations
- name: Invoices
  description: All invoice operations
- name: Security
  description: All security operations
  

consumes:
  - application/json
produces:
  - application/json


  
paths:

  '/account':
    get:
      tags:
      - Account
      summary: Get user account information
      operationId: GetUserAccountInfo

      responses:
        '200':
          description: User account information
          schema:
            $ref: '#/definitions/accountInfo'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
          

  '/account/resendEmailActivation':
    post:
      tags:
      - Account
      summary: Resend email activation
      operationId: ResendEmailActivation

      responses:
        '204':
          description: Email activation resent
        '400':
          description: Email activation not sent because of email problem. Ensure that your email is the correct one.
        '403':
          description: Email activation sent recently, must retry later. (One per hour)
        '502':
          description: Email activate send failed because of our email service. Ensure that your email is the correct one otherwise please contact our support if the problem persists.
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

  '/account/activate':
    post:
      tags:
      - Account
      summary: Activate the user account
      operationId: ActivateUserAccount
      parameters:
      - name: emailActivationId
        in: body
        description: The email activation id received by email.
        required: true
        schema:
          format: guid
          type: string
      responses:
        '204':
          description: User account activated
        '403':
          description: Invalid email activation id
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/account/personalInfo':
    put:
      tags:
      - Account
      summary: Save user personal information
      operationId: SavePersonalInfo

      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/personalInfo'
      responses:
        '204':
          description: User account information updated
        '400':
          description: Bad Request
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/account/companyInfo':
    put:
      tags:
      - Account
      summary: Change company information
      operationId: SaveCompanyInfo
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/companyInfo'
      responses:
        '204':
          description: Company information saved
        '400':
          description: Bad request or invalid VATNumber.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        '403':
          description: User not found or unauthorized
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
  
  '/account/profilePictureInfo':
    get:
      tags:
      - Account
      summary: Get profile picture information
      operationId: GetProfilePictureInfo
      responses:
        200:
          description: Profile picture information
          schema:
            $ref: '#/definitions/profilePictureInfoResponse'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
    
    put:
      tags:
      - Account
      summary: Change user picture information
      operationId: SaveProfilePictureInfo
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/profilePictureInfo'
      responses:
        '204':
          description: User profile picture information saved.
        '400':
          description: BadRequest (Url invalid)
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        '413':
          description: The picture size is too large
        '415':
          description: The content type of the image must be an image
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
          
  '/account/creditCardInfo':
    get:
      tags:
      - Account
      summary: Get credit card information
      operationId: GetCreditCardInfo

      responses:
        '200':
          description: User credit card information
          schema:
            $ref: '#/definitions/creditCardInfoResponse'
        '404':
          description: Credit Card not found
        '503':
          description: We are unable to get your credit card info. This is a temporary state. Please retry later
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
    put:
      tags:
      - Account
      summary: Save user credit card info
      operationId: SaveCreditCardInfo
      parameters:
      - name: request
        in: body
        description: Credit card info
        required: true
        schema:
          $ref: '#/definitions/creditCardInfo'
      responses:
        '202':
          description: The credit card information has been accepted for processing, the authorization will be processed shortly.
        '400':
          description: BadRequest
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        '502':
          description: Communication problem with our payment service
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

  
  '/account/changePassword':
    post:
      tags:
      - Account
      summary: Change user password
      operationId: ChangePassword
      
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/changePasswordRequest'
      responses:
        '204':
          description: Password updated
        '400':
          description: Old password is invalid or the new password does not respect the password's constraints
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'





  '/security/logout':
    post:
      tags:
      - Security
      summary: Log out the current user from go2
      description: Log out the current user from go2
      operationId: Logout

      responses:
        '204':
          description: User logout
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'



  '/stores':
    get:
      tags:
        - Stores
      summary: Get store list
      operationId: GetStores
      responses:
        '200':
          description: Store list response 
          schema:
            $ref: '#/definitions/stores'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


             
    post:
      tags:
        - Stores
      summary: Create a new store
      operationId: CreateStore

      parameters:

        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/createStoreRequest'
      responses:
        '201':
          description: The store has been created successfully. The http header Location contains the new resource url. The body contains the link to the new resource.
          schema:
            $ref: '#/definitions/links.getStoresLink'
        '403':
          description: The maximum amount of store has been reached. Please upgrade your contract.
        '409':
          description: The customer has a store with the same name
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


            
  
  '/stores/{storeId}':
    get:
      tags:
        - Stores
      summary: Get store's information
      operationId: GetStore

      parameters:

        - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters'
      responses:
        '200':
          description: The store information
          schema:
            $ref: '#/definitions/storeHeader'
        '404':
          description: Store not found or not authorized
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


            
    patch:
      tags:
        - Stores
      summary: Update some store's information.
      description: |
        Update some store's information. FYI, you cannot change the country.
      operationId: UpdateStore

      parameters:

        - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters'
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/updateStoreRequest'
      responses:
        '204':
          description: Store updated
        '404':
          description: Store not found or customer not the owner
        '409':
          description: The store name already used
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


            
    delete:
      tags:
        - Stores
      summary: Delete a store
      operationId: DeleteStore

      parameters:

        - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters'
      responses:
        '204':
          description: Store deleted
        '404':
          description: Store not found or customer not the owner
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'



  '/stores/{storeId}/shares':
    get:
      tags:
        - Shares
      summary: Get shares related to this store
      operationId: GetShares
      parameters:

        - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters'
      responses:
        '200':
          description: The sharing list of the store
          schema:
            $ref: '#/definitions/storeShares'
        '404':
          description: Store not found or customer not the owner
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


    post:
      tags:
        - Shares
      summary: Share a store to another user
      operationId: Share

      parameters:

        - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters'
        - name: email
          in: body
          description: Your friend's email
          required: true
          schema:
            $ref: '#/definitions/friendEmail'
      responses:
        '204':
          description: Store shared
        '403':
          description: Free offer is not allowed to share store.
        '404':
          description: Only the owner of the store can make this operation or user not found
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'




  '/friends/{userId}':
    get:
      tags:
      - Friends
      summary: Get friend information
      operationId: GetFriendInfo
      parameters:
      - name: userId
        in: path
        description: Your friend user id
        required: true
        type: string
        format: guid
      responses:
        '200':
          description: Get friend info
          schema:
            $ref: '#/definitions/userFriendInfo'
        '404':
          description: User not found    
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
            
            
 
  '/stores/{storeId}/shares/{userId}':
    delete:
      tags:
        - Shares
      summary: Delete a share to another user
      operationId: DeleteShare
      parameters:
        - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters'
        - name: userId
          in: path
          description: The friend user id
          required: true
          type: string
          format: guid
      responses:
        '204':
          description: Share deleted
        '404':
          description: Store not found or customer not the owner
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'



            
  '/stores/{storeId}/rights':
    post:
      tags:
        - Rights
      summary: Get store's rights
      operationId: GetRights
      deprecated: true
      parameters:

        - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters'
        - name: functionalityCodeList
          in: body
          description: The functionality code list you want to check
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: The store's rights
          schema:
            type: array
            items:
              $ref: '#/definitions/functionalityRightInfo'
        '403':
          description: Functionality not found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.InfoSummaries'
        '404':
          description: Store not found or not authorized
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
 
  '/stores/{storeId}/alerts':
    get:
      tags:
      - Alerts
      summary: Get store's alerts
      operationId: GetStoreAlerts
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters'
      
      responses:
        '200':
          description: User account alerts information
          schema:
            $ref: '#/definitions/storeAlerts'
        '404':
          description: Store not found or not authorized
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
        
  '/stores/{storeId}/alerts/{alertId}':
    put:
      tags:
      - Alerts
      summary: Save store alert
      operationId: SaveStoreAlert
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/storeIdOnlyGeneralParameters'
      - name: alertId
        in: path
        type: integer
        format: int32
        required: true
      - name: request
        in: body
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/saveStoreAlertRequest'
      responses:
        '204':
          description: Store alert saved
        '400':
          description: BadRequest
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        '404':
          description: Store not found or not authorized
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

  '/billingPeriods':
    get:
      tags:
      - Contracts
      summary: Get billing periods conditions
      operationId: GetBillingPeriods
      responses:
        '200':
          description: Get the billing periods conditions
          schema:
            $ref: '#/definitions/billingPeriods'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'




  '/offers':
    get:
      tags:
      - Contracts
      summary: Get all standard offers
      operationId: GetStandardOffers
      responses:
        '200':
          description: Get all standard offers
          schema:
            $ref: '#/definitions/standardOffers'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
    post:
      tags:
      - Contracts
      summary: Get offer pricing
      description: |
        Get the offer pricing then you can create your contract with the same request parameters. /v2/user/customer/contracts
      operationId: GetOffer
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/offerRequest'
      responses:
        '200':
          description: Get the offer proposal considering your current contract
          schema:
            $ref: '#/definitions/offer'
        '400':
          description: Bad request. (Invalid billing period, invalid offer, etc.)
          schema:
              $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        '403':
          description: You current contract is not modifiable. Please choose another offer.
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
  



  '/contracts':
    get:
      tags:
      - Contracts
      summary: Get contract list
      operationId: GetContracts
      responses:
        '200':
          description: Contract list
          schema:
              $ref: '#/definitions/contracts'

    post:
      tags:
      - Contracts
      summary: Create a new contract
      description: |
        Now you are ready to create your contract. Before that, please ensure that you check the offer with the same request parameterts. /offers
      operationId: CreateContract

      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/createContract'
      responses:
        '200':
          description: New contract has been saved. Some warnings can be present in response.
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.InfoSummaries'
        '400':
          description: Bad request. (Invalid billing period, invalid offer, etc.)
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        '403':
          description: The contract is not modifiable or the coupon offer has been already used
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        '409':
          description: The contract is not modifiable or the coupon offer has been already used
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
            
#  '/contracts/current':
#    get:
#      tags:
#      - Contracts
#      summary: Get the conditions of your current contract
#      operationId: GetCurrentContract
#
#      responses:
#        '200':
#          description: Show your current contract
#          schema:
#            $ref: '#/definitions/contractInfo'
#        '404':
#          description: No current contract
#        default:
#          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
    
  '/contracts/current/disableAutoRenewal':
    post:
      tags:
      - Contracts
      summary: Schedule termination of your current contract at the end of the commitment.
      description: By default your contract are automatically renew. By calling this operation you can disable the auto renewal.
      operationId: TerminateCurrentContract

      parameters:
      - name: request
        in: body
        description: Indicate the termination reason
        required: true
        schema:
          $ref: '#/definitions/terminateContract'
      responses:
        '204':
          description: Your current contract termination has been scheduled
        '400':
          description: Invalid reason type
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        '404':
          description: No current contract
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'





  '/contracts/current/reenableAutoRenewal':
    post:
      tags:
      - Contracts
      summary: Reactivate your terminated contract.
      description: By calling this operation you can re-enable the auto renewal.
      operationId: ReactivateCurrentContract
      responses:
        '204':
          description: Your current contract has been resumed
        '404':
          description: No current contract
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
          
          
          
  '/contracts/next':
#    get:
#      tags:
#      - Contracts
#      summary: Get the conditions of your next contract
#      operationId: GetNextContract
#
#      responses:
#        '200':
#          description: Show your next contract
#          schema:
#            $ref: '#/definitions/contractInfo'
#        '404':
#          description: When there is no next contract
#        default:
#          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
    delete:
      tags:
      - Contracts
      summary: Delete your next contract
      operationId: DeleteNextContract
      responses:
        '204':
          description: Next contract has been deleted
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/invoices':
    get:
      tags:
      - Invoices
      summary: Get all your invoices
      operationId: GetInvoices
      responses:
        '200':
          description: Get all invoices of a customer
          schema: 
            $ref: '#/definitions/invoices'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
  




definitions:


  links.shareLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'

  links.deleteShareLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'

  links.getStoresLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'  
    
  links.createStoreLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3' 

  links.getStoreLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'  
  
  links.deleteStoreLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'  

  links.updateStoreLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'  
    
  links.getSharesLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'

  links.createContractLink:          
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'

  links.saveCreditCardInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'

  links.saveStoreAlertLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'

  links.savePersonalInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    
  links.changePasswordLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    
  links.saveCompanyInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    
  links.saveProfilePictureInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    
  links.getCreditCardInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    
  links.getContractsLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    
  links.reactivateCurrentContractLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'

  links.terminateCurrentContractLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'


  links.deleteNextContractLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'

  storeShares:
    type: object
    required:
    - links
    - shares
    properties:
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      links:
        type: object
        required:
        - share
        properties:
          share:
            $ref: '#/definitions/links.shareLink'
        additionalProperties: false
      shares:
        type: array
        items:
          $ref: '#/definitions/storeShare'
        example:
        - userId: '277596c1-a5a9-4cce-9f34-b5906451a98f'
          storeRole: User
          links:
            deleteShare:
              href: /v2/user/stores/{storeId}/shares/{userId}
              method: DELETE
              operationId: DeleteShare
              parameters:
                storeId: '51afae05-277e-4902-8b17-5a811a23a2c6'
                userId: '277596c1-a5a9-4cce-9f34-b5906451a98f'



  storeShare:
    type: object
    required:
    - userId
    - userRole
    - links
    properties:
      userId:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.UserId'
      userRole:
        $ref: '#/definitions/storeUserRole'
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      links:
        description: The different actions you can make on this share
        type: object
        properties:
          deleteShare:
            $ref: '#/definitions/links.deleteShareLink'
        additionalProperties: false

 
  
  stores:
    type: object
    required:
    - links
    - storeList
    properties:
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      links:
        description: The action links
        type: object
        properties:
          getStores:
            $ref: '#/definitions/links.getStoresLink'
          createStore:
            $ref: '#/definitions/links.createStoreLink'
        additionalProperties: false
       # example:
       # - href: /v2/user/stores
       #   method: GET
       #   rel: self
       #   operationId: GetStores
       # - href: /v2/user/stores
       #   method: POST
       #   rel: CreateStore
       #   operationId: CreateStore
       #   parameters:
       #   - name: request
       #     in: body
       #     type: object
       #     required: true
            
      storeList:
        type: array
        items:
          $ref: '#/definitions/storeHeader'
        example:
        - storeId: 00000000-0000-0000-0000-000000000000
          userRole: Owner
          status: Active
          ownerUserId: 00000000-0000-0000-0000-000000000000
          creationUtcDate: '2001-01-01T00:00:00'
          name: My Store
          url: http://www.mystore.com
          sectors: 
          - 1
          links:
          - href: /v2/user/stores/{storeId}
            method: GET
            rel: self
            operationId: GetStore
          - href: /v2/user/stores/{storeId}
            method: DELETE
            rel: DeleteStore
            operationId: DeleteStore
          - href: /v2/user/stores/{storeId}
            method: PATCH
            rel: UpdateStore
            operationId: UpdateStore
            parameters:
            - name: request
              in: body
              type: object
              required: true
          - href: /v2/user/stores/{storeId}/shares
            method: GET
            rel: GetShares
            operationId: GetShares
 
  storeUserRole:
    type: string
    description: |
      Indicates the role can have a user on a store. 
      * Owner: Indicates that you are the owner of this store
      * User: Indicates that you are a simple user on this store
    enum:
    - Owner
    - User
    example: User
  
  storeStatus:
    type: string
    description: |
      The store status
      * Active:  When the store is active
      * SystemBlocked:  When the store is blocked by the system
      * UserBlocked: When the store is blocked on GO not on the system
    enum:
    - Active
    - SystemBlocked
    - UserBlocked
    example: Active

  accountStatus:
    type: string
    description: |
      The account status
      * Active:  When the account is active
      * SystemBlocked:  When all stores on the account are blocked by the system
      * UserBlocked: When all stores on the account are blocked on GO not on the system
      * NotActivated: When the email is not verified
    enum:
    - Active
    - SystemBlocked
    - UserBlocked
    - NotActivated
    example: Active
  
  
  storeHeader:
   allOf:
    - $ref: '#/definitions/store'
    - type: object
      required:
      - storeId
      - name
      - url
      - countryIsoCodeAlpha3
      - userRole
      - status
      - ownerUserId
      - shareCount
      - creationUtcDate
      - sectors
      - links
      properties:
        storeId:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.StoreId'
        userRole:
          $ref: '#/definitions/storeUserRole'
        status:
          $ref: '#/definitions/storeStatus'
        ownerUserId:
          format: guid
          description: The user id of the owner of the store
          type: string
          example: 00000000-0000-0000-0000-000000000000
        shareCount:
          description: The share count related to this store
          type: integer
          example: 5
        creationUtcDate:
          format: date-time
          description: The creation date of the store
          type: string
          example: '2017-04-01T22:30:00Z'
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
        links:
          description: The action links for this store
          type: object
          properties:
            self:
              $ref: '#/definitions/links.getStoreLink'
            deleteStore:
              $ref: '#/definitions/links.deleteStoreLink'
            updateStore:
              $ref: '#/definitions/links.updateStoreLink'
            getShares:
              $ref: '#/definitions/links.getSharesLink'
            share:
              $ref: '#/definitions/links.shareLink'
          additionalProperties: false
          #example:
          #- href: /v2/user/stores/{storeId}
          #  method: GET
          #  rel: self
          #  operationId: GetStore
          #- href: /v2/user/stores/{storeId}
          #  method: DELETE
          #  rel: DeleteStore
          #  operationId: DeleteStore
          #- href: /v2/user/stores/{storeId}
          #  method: PATCH
          #  rel: UpdateStore
          #  operationId: UpdateStore
          #  parameters:
          #  - name: request
          #    in: body
          #    type: object
          #    required: true
          #- href: /v2/user/stores/{storeId}/shares
          #  method: GET
          #  rel: GetShares
          #  operationId: GetShares

  storeName:
    description: The store name. Must be unique.
    type: string
    example: My Store
  
  storeUrl:
    type: string
    description: The url of your store
    pattern: ^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$
    example: http://www.mystore.com
  
  storeCountryIsoCodeAlpha3:
    type: string
    description: 'The country iso code alpha 3 based on the list of values /user/lov/StoreCountry'
    x-lov: 'StoreCountry'
    example: DEU
    
  storeSectors:
    description: The store's sectors based on the list of values /user/lov/ParamSector
    type: array
    items:
      $ref: '#/definitions/storeSector'
    example:
    - 1


  storeSector:
    description: The store's sector based on the list of values /user/lov/ParamSector
    type: integer
    example: 1
    x-lov: ParamSector


  contractId:
    description: Your contract identifier
    format: guid
    type: string
    example: '7098487a-86f6-4322-b8a5-b67f7363b3e7'
  invoiceNumber:
    type: string
    description: Your invoice number
    example: B1234

  
  store:
    required:
    - name
    - url
    - countryIsoCodeAlpha3
    - sectors
    properties:
      name:
        $ref: '#/definitions/storeName'
      url:
        $ref: '#/definitions/storeUrl'
      countryIsoCodeAlpha3:
        $ref: '#/definitions/storeCountryIsoCodeAlpha3'
      sectors:
        $ref: '#/definitions/storeSectors'
  
  createStoreRequest:
    type: object
    allOf:
      - $ref: '#/definitions/store'


  


  updateStoreRequest:
    required:
      - name
      - url
      - sectors
    type: object
    properties:
      name:
        $ref: '#/definitions/storeName'
      url:
        $ref: '#/definitions/storeUrl'

      sectors:
        $ref: '#/definitions/storeSectors'
          
          
 
  functionalityRightInfo:
    type: object
    description: Describe the rights for a functionality
    required:
    - functionalityCode
    properties:
      functionalityCode:
        type: string
        example: COMPAMANA
        description: The functionality code
      maxValueInterger:
        type: integer
        description: The max value for this functionality code considering your rights
        example: 10
      unlimited:
        type: boolean
        example: true
        description: If you can use this functionality unlimitedly

  invoices:
    type: object
    required:
    - invoices
    properties:
      invoices:
        type: array
        items:
          $ref: '#/definitions/invoice'
        example:
        - invoiceDate: '2016-05-01'
          contractId: 7098487a-86f6-4322-b8a5-b67f7363b3e7 
          invoiceNumber: B1234
          amount: 101.42
          amountToBePaid: 0.0
          currencyCode: EUR
          paymentStatus: Paid
          dueDate: '2016-05-10'
          invoiceUrl: https://beezupbilling.blob.core.windows.net/invoicepdf/2000/CustomerUserId_00000000-0000-0000-0000-000000000000/ContractId_00000000-0000-0000-0000-000000000000/2000-01-01_B1234.pdf
          
          
  invoicePaymentStatus:
    description: The payment status
    type: string
    enum:
    - Paid
    - NotPaid
    - PartiallyPaid
    - Loss
    example: Paid
     
  invoice:
    type: object
    required:
    - invoiceDate
    - contractId
    - invoiceNumber
    - amount
    - amountToBePaid
    - currencyCode
    - paymentStatus
    - dueDate
    properties:
      invoiceDate:
        description: The invoice date
        format: date
        type: string
        example: '2016-05-01'
      contractId:
        $ref: '#/definitions/contractId'
      invoiceNumber:
        $ref: '#/definitions/invoiceNumber'
      amount:
        format: double
        type: number
        example: 101.42
        description: The amount of your invoice
      amountToBePaid:
        format: double
        type: number
        example: 0.0
        description: The remaining amount to be paid for this invoice
      currencyCode:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.CurrencyCode'
      paymentStatus:
        $ref: '#/definitions/invoicePaymentStatus'
      dueDate:
        format: date
        type: string
        example: '2016-05-10'
      invoiceUrl:
        description: The url of the invoice document
        type: string
        format: uri
        example: https://beezupbilling.blob.core.windows.net/invoicepdf/2000/CustomerUserId_00000000-0000-0000-0000-000000000000/ContractId_00000000-0000-0000-0000-000000000000/2000-01-01_B1234.pdf

  

  friendEmail:
    description: Your friend's user email
    example: humphray.bogart@yahoo.ma
    type: string
    format: email
    pattern: ^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$

  friendCountryIsoCodeAlpha3:
    type: string
    x-lov: Country
    description: Your friend's user country iso code alpha 3
    example: USA


  friendProfilePictureUrl:
    type: string
    description: Your friend's user profile picture url
    example: https://www.biography.com/.image/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTE4MDAzNDEwNDU3MjMyOTEw/humphrey-bogart-9217486-1-402.jpg
    pattern: ^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$


  userFriendInfo:
    required:
    - userId
    - lastName
    - firstName
    - email
    - countryIsoCodeAlpha3
    - company
    - whatIDo
    
    type: object
    properties:
      userId:
        format: guid
        description: Your friend's user id
        type: string
        example: 00c4a9d2-fc8e-4b3d-8e52-c4f276245bc1

      lastName:
        description: Your friend's user last name
        type: string
        example: Humphrey
      firstName:
        description: Your friend's user first name
        type: string
        example: Bogart
      email:
        $ref: '#/definitions/friendEmail'

      profilePictureUrl:
        $ref: '#/definitions/friendProfilePictureUrl'
      countryIsoCodeAlpha3:
        $ref: '#/definitions/friendCountryIsoCodeAlpha3'
      company:
        description: Your friend's user company name
        type: string
        example: World company
      whatIDo:
        description: Your friend's user occupation in his company
        type: string
        example: I'm an actor...

  createContract:
    allOf:
    - $ref: '#/definitions/offerRequest'


  contractsLinks:
    type: object
    properties:
      self:
        $ref: '#/definitions/links.getContractsLink'
      create:
        $ref: '#/definitions/links.createContractLink'
      
  currentContractInfoLinks:
    type: object
    required:
    - self
    properties:
      self:
        $ref: '#/definitions/links.getContractsLink'
      disable:
        $ref: '#/definitions/links.terminateCurrentContractLink'
      reenable:
        $ref: '#/definitions/links.reactivateCurrentContractLink'
      
  nextContractInfoLinks:
    type: object
    required:
    - self
    properties:
      self:
        $ref: '#/definitions/links.getContractsLink'
      delete:
        $ref: '#/definitions/links.deleteNextContractLink'
      
  currentContractInfo:
    allOf:
    - $ref: '#/definitions/contractInfo'
    - type: object
      description: Get the conditions of your current contract
      required:
      - links
      properties:
        links:
          $ref: '#/definitions/currentContractInfoLinks'

  contracts:
    type: object
    properties:
      links:
        $ref: '#/definitions/contractsLinks'
      current:
        $ref: '#/definitions/currentContractInfo'
      next:
        $ref: '#/definitions/nextContractInfo'
        

  nextContractInfo:
    allOf:
    - $ref: '#/definitions/contractInfo'
    - type: object
      description: Get the conditions of your next contract
      required:
      - links
      properties:
        links:
          $ref: '#/definitions/nextContractInfoLinks'

  contractInfo:
    description: Describe the conditions of a contract
    type: object
    properties:
     
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      trialPeriodInMonth:
        format: int32
        description: The trial period in month
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      billingPeriodPercentDiscount:
        format: double
        description: The percent discount related to the billing period
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      discountDurationInMonth:
        format: int32
        description: The discount duration in month
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      percentDiscount:
        format: double
        description: The percent of the discount
        type: number
      offerId:
        $ref: '#/definitions/offerId'
      storeCount:
        $ref: '#/definitions/storeCount'
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      startUtcDate:
        format: date-time
        description: The start date of your contract
        type: string
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      commitmentCalculatedFinishUtcDate:
        format: date-time
        description: The calculated end date of commitment
        type: string
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      billingPeriodInMonth:
        format: int32
        description: The billing period in month
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      fixedPrice:
        format: double
        description: The fixed price of your contract
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      offerName:
        description: The offer name based on /offers
        type: string
      currencyCode:
       $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.CurrencyCode'
      contractId:
        $ref: '#/definitions/contractId'
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      commitmentPeriodInMonth:
        format: int32
        description: The commitment period in month
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      clickIncluded:
        format: int32
        description: The click included
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      additionalClickPrice:
        format: double
        description: Additional click price
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      ipUserCreation:
        description: The IP of the user who creates the contract
        type: string
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      ipUserModification:
        description: The IP of the user who modified the contract
        type: string
      fixedAndVariableClickInfo:
        $ref: '#/definitions/fixedAndVariableClickModelInfo'
      variableModelInfo:
        $ref: '#/definitions/variableModelInfo'
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      isCommitmentRenewalAutomatically:
        description: Is commitment is automatically renewed
        type: boolean
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      discountEndUtcDate:
        format: date-time
        description: The end of your discount
        type: string
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      isModifiableContract:
        description: Is the contract is modifiable ?
        type: boolean
        
        






  clickIncludedAndAdditionalClickPrice:
    type: object
    properties:
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      clickIncluded:
        format: int32
        description: The click included
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      additionalClickPrice:
        format: double
        description: The additional click price
        type: number
        
  clickIncludedAndVariablePrice:
    type: object
    properties:
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      clickIncluded:
        format: int32
        description: Click included
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      variablePrice:
        format: double
        description: The pricing applied for this range
        type: number
        
  terminateContract:
    description: The contract termination info
    required:
    - contractTerminationReasonType
    type: object
    properties:
      contractTerminationReasonType:
        $ref: '#/definitions/contractTerminationReasonType'
      contractTerminationReason:
        $ref: '#/definitions/contractTerminationReason'
        
        
#################################################


  offerId:
    format: int32
    description: The offer id based on /offers. Not a free offer of course.
    type: integer
    example: 1
    minimum: 1
  storeCount:
    format: int32
    description: The store count you want to have in your contract.
    type: integer
    example: 1
    minimum: 1
  couponDiscountCode:
    description: The coupon discount code
    type: string
    example: I-LOVE-BEEZUP
  couponOfferCode:
    format: guid
    description: Your special coupon offer identifier
    type: string
    example: 04efc310-bc25-4710-a83a-faf200284fe5

  billingPeriodInMonth:
    format: int32
    description: Can be null. The billing period in month based on /billingperiods
    type: integer
    example: 12
    minimum: 1
    
  contractTerminationReasonType:
    format: int32
    description: The contract termination reason type identifier, if your current contract is scheduled to be terminated. The value is based on the list of values /user/lov/ContractTerminationReason
    type: integer
    x-lov: ContractTerminationReason
    example: 1
    
  contractTerminationReason:
    description: The termination reason, if your current contract is scheduled to be terminated.
    type: string
    example: I'm crazy, I want to leave your splendid service... 

  offerRequest:
    required:
    - offerId
    - storeCount
    - billingPeriodInMonth
    type: object
    properties:
      offerId:
        $ref: '#/definitions/offerId'
      storeCount:
        $ref: '#/definitions/storeCount'
      couponDiscountCode:
        $ref: '#/definitions/couponDiscountCode'

      couponOfferCode:
        $ref: '#/definitions/couponOfferCode'
        
      billingPeriodInMonth:
        $ref: '#/definitions/billingPeriodInMonth'

  paymentMethod:
    description: Payment method
    enum:
    - Transfer
    - Debit
    - Paypal
    - Check
    - CreditNote
    - Loss
    - OnlinePayment
    type: string
    default: OnlinePayment
   
  offer:
    type: object
    properties:
      content:
        $ref: '#/definitions/offerContent'
      info:
       $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.InfoSummaries'
      links:
        description: The different actions you can make on this offer
        type: object
        properties:
          createContract:
            $ref: '#/definitions/links.createContractLink'
        additionalProperties: false
        example:
        - href: /v2/user/customer/contracts
          operationId: CreateContract
          rel: CreateContract
          parameters:
            - name: request
              in: body
              type: object
              value:
                offerId: 1
                storeCount: 1
                couponDiscountCode: I-LOVE-BEEZUP
                couponOfferCode: 04efc310-bc25-4710-a83a-faf200284fe5
                billingPeriodInMonth:  12
  

        
  offerContent:
    type: object
    required:
    - previousFixPeriodInvoiceProrataInfo
    - contractBillingPeriodInfo
    - contractClickInfo
    - contractCommitmentInfo
    - contractDiscountInfo
    - contractMoneyInfo
    - contractStoreInfo
    - contractBonusInfo
    - notifyVatExemption
    properties:
      previousFixPeriodInvoiceProrataInfo:
        $ref: '#/definitions/previousFixPeriodInvoiceProrataInfo'
        # 
      contractBillingPeriodInfo:
        $ref: '#/definitions/contractBillingPeriodInfo'
        # 
      contractClickInfo:
        $ref: '#/definitions/contractClickInfo'
        # 
      contractCommitmentInfo:
        $ref: '#/definitions/contractCommitmentInfo'
    #    
      contractDiscountInfo:
        $ref: '#/definitions/contractDiscountInfo'
    #    
      contractMoneyInfo:
        $ref: '#/definitions/contractMoneyInfo'
    #    
      contractStoreInfo:
        $ref: '#/definitions/contractStoreInfo'
    #    
      contractBonusInfo:
        $ref: '#/definitions/contractBonusInfo'
     #   
      contractTerminationReasonType:
        $ref: '#/definitions/contractTerminationReasonType'
      contractTerminationReason:
        $ref: '#/definitions/contractTerminationReason'
 
      notifyVatExemption:
        description: 'Internal usage: Indicates if we have to notify you about VAT exemption.'
        type: boolean
        example: true
        
 
 
  previousFixPeriodInvoiceProrataInfo:
    description: Describe the prorata info based on your previous invoice
    type: object
    properties:
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      computedProrataToBeDeducted:
        format: double
        description: The prorata amount
        type: number
      invoiceNumber:
        description: The previous invoice number
        type: string
        example: B1234
      amountToBePaid:
        format: double
        description: The amount to be payed of the previous invoice
        type: number
        example: 0.0
      amountAfterTax:
        format: double
        description: The amout after tax of the previous invoice
        type: number
        example: 101.42
      contractId:
        format: guid
        description: The contract id related to the previous invoice
        type: string
        example: 8a7fbdec-9e71-472e-9974-27d5c1d57cf8

# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      fixedPeriodEndDate:
        format: date-time
        description: The fixed end period of the previous invoice
        type: string
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      fixedPeriodStartDate:
        format: date-time
        description: The fixed start period of the previous invoice
        type: string


      #  description: Informations about the access to our invoice service
  contractBillingPeriodInfo:
    description: Describe the billing period information related to the offer.
    type: object
    properties:
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      amountBillingPeriodDiscount:
        format: double
        description: The amount discounted related to the billing period
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      billingPeriodPercentDiscount:
        format: double
        description: The discount percent related to the billing period
        type: number
      billingPeriodInMonth:
        $ref: '#/definitions/billingPeriodInMonth'
  contractClickInfo:
    description: Describe the click information related to the offer.
    type: object
    properties:
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      additionalClickPrice:
        format: double
        description: The addition click price in the offer
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      clickIncluded:
        format: int32
        description: The click included in the offer
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      initialOfferClickIncluded:
        format: int32
        description: The click included in your current contract
        type: integer
  contractCommitmentInfo:
    description: Describe the commitment information related to the offer.
    type: object
    properties:
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      commitmentCalculatedFinishDate:
        format: date-time
        description: The commitment end date related to the offer
        type: string
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      newContractStartDate:
        format: date-time
        description: The start date related to the offer
        type: string
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      commitmentPeriodInMonth:
        format: int32
        description: The commitment period in month related to the offer
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      trialPeriodInMonth:
        format: int32
        description: The trial period in month related to the offer
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      trialPeriodFinishDate:
        format: date-time
        description: The trial period end date related to the offer
        type: string
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      paymentDelayInDays:
        format: int32
        description: The payment delay in days related to the offer
        type: integer
      offerId:
        $ref: '#/definitions/offerId'
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      offerName:
        description: The offer Name
        type: string
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      currentContractId:
        format: guid
        description: Your current contract id
        type: string
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      commercialUserId:
        format: guid
        description: Your current commercial user id
        type: string
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      model:
        description: 'Interal usage: Old offer type. The model description'
        type: string
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      currentContractTerminationDate:
        format: date
        description: The current contract termination date
        type: string
      requestedPaymentMethod:
       $ref: '#/definitions/paymentMethod'
      currentCustomerPaymentMethod:
       $ref: '#/definitions/paymentMethod'
      contractType:
        format: int32
        description: 'Internal usage: Old offer type. Your contract type'
        type: integer
        example: 1234
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      isModelMustBeTransmittedInNewContract:
        description: 'Internal usage: Old offer type. Is the current contract model
          needs to be converted into a new contract type'
        type: boolean
      fixedAndVariableClickInfo:
        $ref: '#/definitions/fixedAndVariableClickModelInfo'
        
      variableModelInfo:
        $ref: '#/definitions/variableModelInfo'
        
      paymentMethodAuthorized:
        $ref: '#/definitions/paymentMethod'
      couponOfferCode:
        $ref: '#/definitions/couponOfferCode'
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      commercialCreatorUserId:
        format: guid
        description: The commercial that is responsible of the creation of your account
        type: string
      minBillingPeriodInMonths:
        format: int32
        description: The minimum billing period in month authorized for this offer.
        type: integer
        example: 1
      isCustomerWantsToTerminateHisContract:
        description: If true, this means you want to leave us and that's sad... :'-(
        type: boolean
        example: false
  contractDiscountInfo:
    description: Describe the discount information related to the offer.
    type: object
    properties:
      amountCodePromoDiscountPerMonth:
        format: double
        description: The amount discounted per month
        type: number
        example: 101.42
      discountDurationInMonth:
        format: int32
        description: Duration of the discount in month
        type: integer
        example: 1
      percentDiscount:
        format: double
        description: Percentage of the discount
        type: number
        example: 20.0
      promotionalCodeValidity:
        $ref: '#/definitions/promotionalCodeValidity'
      amountCodePromoDiscount:
        format: double
        description: The discount amount
        type: number
        example: 101.42
      couponDiscountCode:
        description: The discount code
        type: string
        example: I-LOVE-BEEZUP
      couponDiscountId:
        format: int32
        description: 'Internal use: The discount id'
        type: integer
        example: 1
      isCouponDiscountLinkedToCouponOffer:
        description: Is this discount is related to a coupon offer
        type: boolean
        example: true
      customerHasActualDiscount:
        description: Do you have currently a discount on your contract ?
        type: boolean
        example: true
  contractMoneyInfo:
    description: Describe the pricing information related to the offer.
    type: object
    properties:
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      amountExcludingTaxesAndExcludingCodePromoDiscountIncludingBillingPeriodDiscount:
        format: double
        description: The amount excluding taxes and excluding code promo discount
          including billing period discount.
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      amountExcludingTaxesIncludingDiscounts:
        format: double
        description: The amount excluding taxes including discounts.
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      amountTaxesExcludingDiscountIncludingBillingPeriodDiscount:
        format: double
        description: The taxes excluding discount including billing period discount.
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      amountIncludingTaxesExcludingDiscountIncludingBillingPeriodDiscount:
        format: double
        description: The amount including taxes excluding discount including billing
          period discount.
        type: number
      currencyCode:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.CurrencyCode'
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      vatPercent:
        format: double
        description: The VAT percent.
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      amountExcludingTaxesIncludingDiscountsPerMonth:
        format: double
        description: The amount excluding taxes including discounts per month.
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      amountExcludingTaxesAndExcludingDiscounts:
        format: double
        description: The amount excluding taxes and excluding discounts.
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      amountTaxesIncludingDiscounts:
        format: double
        description: Taxes including discounts.
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      amountIncludingTaxesIncludingDiscounts:
        format: double
        description: The amount including taxes including discounts.
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      initialOfferFixedPrice:
        format: double
        description: The initial offer fixed price.
        type: number
  contractStoreInfo:
    description: Describe the store information related to the offer.
    type: object
    properties:
      storeCount:
        $ref: '#/definitions/storeCount'
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      maxStoreCount:
        format: int32
        description: The maximum store count related to the offer.
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      minStoreCount:
        format: int32
        description: The minimum store count related to the offer.
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      ownedStoreCount:
        format: int32
        description: The owned store count.
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      additionalStorePrice:
        format: double
        description: The additional store price.
        type: number
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      storeIncluded:
        format: int32
        description: The store count included in the offer.
        type: integer
  contractBonusInfo:
    description: Describe the bonus information related to your current contract.
    type: object
    properties:
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      bonuses:
        type: array
        items:
          $ref: '#/definitions/bonusInfo'
 
 
  fixedAndVariableClickModelInfo:
    description: 'Internal usage: Old offer type. Describe the fix and variable model information'
    type: object
    properties:
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      clickIncludedAndAdditionalClickPrices:
        type: array
        items:
          $ref: '#/definitions/clickIncludedAndAdditionalClickPrice'
  #    info:
  #      $ref: '#/definitions/BeezUP.Framework.CommonTypes.BeezUPInfoSummaries'
      #  description: Documentation not available
  variableModelInfo:
    description: 'Internal usage: Old offer type. Describe the fix and variable model information'
    type: object
    properties:
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      clickIncludedAndVariablePrices:
        description: Click included with variable pricing information
        type: array
        items:
          $ref: '#/definitions/clickIncludedAndVariablePrice'
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      overflowClickCount:
        format: int32
        description: The overflow click count
        type: integer
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      overflowClickPrice:
        format: double
        description: The overflow click price
        type: number
     # info:
    #    $ref: '#/definitions/BeezUP.Framework.CommonTypes.BeezUPInfoSummaries'
       # description: Documentation not available
  bonusInfo:
    type: object
    properties:
      bonusType:
        $ref: '#/definitions/bonusType'
      amount:
        format: double
        type: number
        example: 12.34
 



#######################################################################################
# Account defintions
#######################################################################################

  lastName:
    description: Your last name
    type: string
    example: Simon

  firstName:
    description: Your first name
    type: string
    example: Paul

  phoneNumber:
    description: Your phone number
    type: string
    example: 5551234

  address:
    description: Your address
    type: string
    example: 21 jump street
  postalCode:
    description: Your address postal code
    type: string
    example: 13014
  city:
    description: Your address city
    type: string
    example: New-York

  company:
    description: Your company name
    type: string
    example: My super company
  vatNumber:
    description: Your company VATNumber. Used for french company. This number is checked with official web service before being saved.
    type: string
    example: 1234567890
  accountingEmails:
    description: Your company accounting emails
    type: array
    items:
      $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Email'
    example:
    - myaccountemail@mysupercompany.com

  profilePictureUrl:
    description: Indicate the url of your picture profil
    pattern: ^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$
    example: https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Marlon_Brando_%28cropped%29.jpg/220px-Marlon_Brando_%28cropped%29.jpg
    type: string
  
  profilePictureSelected:
    description: Your profile picture choice about usage of gravatar picture, initials picture or uploaded picture.
    type: string
    enum:
    - gravatar
    - initials
    - uploaded
    example: initials
    
  whatIDo:
    description: Your role in your company
    type: string
    example: I'm the Manager on this company
    
  beezUPTimeZoneId:
    format: int32
    description: The time zone identifier based on the list of values /v2/user/lov/BeezUPTimeZone
    type: integer
    x-lov: BeezUPTimeZone
    example: 79


  cardNumber:
    description: Card number
    type: string
    example: 1234567890091234
    
  cardVerificationCode:
    description: Card Verification Code
    type: string
    example: 123
    
  expirationMonth:
    format: int32
    description: Expiration Month
    type: integer
    example: 12
    minimum: 1
    maximum: 12
    
  expirationYear:
    format: int32
    description: Expiration Year
    type: integer
    example: 2017
    minimum: 2017
    maximum: 9000


  accountInfoLinks:
    description: The different actions you can make on this account
    type: object
    required:
    - savePersonalInfo
    - changePassword
    - getProfilePictureInfo
    - saveCompanyInfo
    - saveProfilePictureInfo
    - getCreditCardInfo
    - saveUserCreditCardLink
    properties:
      savePersonalInfo:
        $ref: '#/definitions/links.savePersonalInfoLink'
      changePassword:
        $ref: '#/definitions/links.changePasswordLink'
      saveCompanyInfo:
        $ref: '#/definitions/links.saveCompanyInfoLink'
      getProfilePictureInfo:
        $ref: '#/definitions/links.getProfilePictureInfoLink'
      saveProfilePictureInfo:
        $ref: '#/definitions/links.saveProfilePictureInfoLink'
      getCreditCardInfo:
        $ref: '#/definitions/links.getCreditCardInfoLink'
      saveUserCreditCardLink:
        $ref: '#/definitions/links.saveCreditCardInfoLink'
    additionalProperties: false
    
    
  links.getProfilePictureInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/customer/account/profilePictureInfo
        method: GET
    
  accountInfo:
    type: object
    required:
    - userId
    - email
    - status
    - links
    - personalInfo
    - companyInfo
    - profilePictureUrl
    properties:

      userId:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.UserId'
      email:
       $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Email'

      personalInfo:
        $ref: '#/definitions/personalInfo'
      status:
        $ref: '#/definitions/accountStatus'

      companyInfo:
        $ref: '#/definitions/companyInfo'

      profilePictureUrl:
        $ref: '#/definitions/profilePictureUrl'

      links:
        $ref: '#/definitions/accountInfoLinks'

      info:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.InfoSummaries'
      
      

        

  personalInfo:
    required:
    - firstName
    - lastName
    - phoneNumber
    - beezUPTimeZoneId
    type: object
    properties:
      lastName:
       $ref: '#/definitions/lastName'
      firstName:
       $ref: '#/definitions/firstName'
       
      phoneNumber:
       $ref: '#/definitions/phoneNumber'
      whatIDo:
        $ref: '#/definitions/whatIDo'
      beezUPTimeZoneId:
        $ref: '#/definitions/beezUPTimeZoneId'
        
        
        
  changePasswordRequest:
    required:
    - oldPassword
    - newPassword
    type: object
    properties:
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      oldPassword:
        description: Your current password
        type: string
        format: password
# [Style Validator (b57732e9-e6c7-445c-a1ac-7b5d3d516607) : All model properties must have examples]: Field 'example' required in 'properties'
      newPassword:
        description: Your new password. Which must respect the same constraints as the user registeration
        type: string
        format: password

  companyInfo:
    required:
    - company
    - address
    - postalCode
    - city
    - countryIsoCodeAlpha3
    type: object
    properties:
      address:
        $ref: '#/definitions/address'
      postalCode:
         $ref: '#/definitions/postalCode'
      city:
         $ref: '#/definitions/city'
      countryIsoCodeAlpha3:
         $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.CountryIsoCodeAlpha3'
      company:
         $ref: '#/definitions/company'
      vatNumber:
        $ref: '#/definitions/vatNumber'
      accountingEmails:
        $ref: '#/definitions/accountingEmails'

  profilePictureInfoResponseLinks:
    type: object
    required:
    - self
    - save
    properties:
      self:
        $ref: '#/definitions/links.getProfilePictureInfoLink'
      save:
        $ref: '#/definitions/links.saveProfilePictureInfoLink'

  profilePictureInfoResponse:
    type: object
    required:
    - profilePictureInfo
    - links
    properties:
      profilePictureInfo:
        $ref: '#/definitions/profilePictureInfoWithDefault'
      links:
        $ref: '#/definitions/profilePictureInfoResponseLinks'


  profilePictureInfoWithDefault:
    allOf:
    - $ref: '#/definitions/profilePictureInfo'
    - type: object
      required:
      - profilePictureSelected
      - initialsProfilePictureUrl
      - gravatarProfilePictureUrl
      properties:
        initialsProfilePictureUrl:
          $ref: '#/definitions/initialsProfilePictureUrl'
        gravatarProfilePictureUrl:
          $ref: '#/definitions/gravatarProfilePictureUrl'
          

  initialsProfilePictureUrl:
    description: Indicate the url of your picture profil based on your initials
    pattern: ^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$
    example: https://dummyimage.com/50x50/000000/fff&text=AM
    type: string

  gravatarProfilePictureUrl:
    description: Indicate the url of your picture profil based on gravatar
    pattern: ^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$
    example: https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?d=mm
    type: string
  

  profilePictureInfo:
    required:
    - profilePictureSelected
    type: object
    properties:
      profilePictureUrl:
        $ref: '#/definitions/profilePictureUrl'
      profilePictureSelected:
        $ref: '#/definitions/profilePictureSelected'
    

  

    
  creditCardInfoResponse:
    type: object
    required:
    - links
    - currentPaymentMethod
    properties:
      links:
        description: The different actions you can make on this offer
        type: object
        properties:
          self:
            $ref: '#/definitions/links.getCreditCardInfoLink'
          saveCreditCardInfo:
            $ref: '#/definitions/links.saveCreditCardInfoLink'
        additionalProperties: false
        example:
        - href: /v2/user/customer/creditCardinfo
          rel: self
          operationId: GetCreditCardInfo
          method: GET
        - href: /v2/user/customer/creditCardinfo
          ref: SaveCreditCardInfo
          method: PUT
          parameters:
          - name: request
            in: body
            required: true
            type: object
            
      currentPaymentMethod:
        $ref: '#/definitions/paymentMethod'
        
      creditCardInfo:
        $ref: '#/definitions/creditCardInfoWithCardType'
      
      info:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.InfoSummaries'

  creditCardInfo:
    required:
    - cardNumber
    - cardVerificationCode
    - expirationMonth
    - expirationYear
    type: object
    properties:
      cardNumber:
        $ref: '#/definitions/cardNumber'
      cardVerificationCode:
        $ref: '#/definitions/cardVerificationCode'
      expirationMonth:
        $ref: '#/definitions/expirationMonth'
      expirationYear:
        $ref: '#/definitions/expirationYear'
  
  creditCardInfoWithCardType:
    required:
    - cardNumber
    - expirationMonth
    - expirationYear
    - cardType
    properties:
      cardNumber:
        $ref: '#/definitions/cardNumber'
      expirationMonth:
        $ref: '#/definitions/expirationMonth'
      expirationYear:
        $ref: '#/definitions/expirationYear'
      cardType:
        description: 'Your credit card type. Example: VISA, MasterCard, etc...'
        type: string
        example: VISA


        
        
##################################################################################################
##################################################################################################
##################################################################################################


  storeAlerts:
    type: object
    properties:
        
      alerts:
        type: array
        items:
          $ref: '#/definitions/storeAlert'
        example:
        - alertId: 8
          alertName: NoImportSinceXDays
          isActive: true
          properties:
          - propertyId: 2
            propertyValidationExpression: \b0*([1-9]|[12][0-9]|30)\b 
            propertyValue: 2



  alertId:
    format: int32
    description: Alert identifier
    type: integer
    example: 8
  
  alertName:
    description: The alert name
    type: string
    example: NoImportSinceXDays
    
  alertIsActive:
    description: Is the alert is active ?
    type: boolean
    example: true

  storeAlert:
    type: object
    required:
    - alertId
    - alertName
    - active
    properties:
      links:
        description: The different actions you can make on this offer
        type: object
        properties:
          saveStoreAlert:
            $ref: '#/definitions/links.saveStoreAlertLink'
        additionalProperties: false
        example:
        - href: /v2/user/customer/stores/{storeId}/alerts/{alertId}
          rel: save
          method: PUT
          parameters:
          - name: storeId
            in: path
            required: true
            value: 00000000-0000-0000-0000-000000000000
          - name: alertId
            in: path
            required: true
            value: 8
          - name: request
            in: body
            required: true
            
      alertId:
        $ref: '#/definitions/alertId'
        
      alertName:
        $ref: '#/definitions/alertName'

      active:
        $ref: '#/definitions/alertIsActive'
      properties:
        description: The current configuration properties of the alert
        type: array
        items:
          $ref: '#/definitions/storeAlertPropertyInfo'
        example:
        - propertyId: 2
          propertyValidationExpression: '\b0*([1-9]|[12][0-9]|30)\b'
          propertyValue: '2'
  

  alertPropertyId:
    format: int32
    description: The property identifier of the alert
    type: integer
    example: 2
  
  alertPropertyValue:
    description: The property value
    type: string
    example: '2'



  storeAlertPropertyInfo:
    allOf:
    - $ref: '#/definitions/storeAlertProperty'
    - type: object
      required:
      - propertyId
      - propertyName
      - propertyValue
      properties:
        propertyName:
          description: The property name of the alert
          type: string
          example: NbDays
        propertyValidationExpression:
          description: The regular expression related to the alert property
          type: string
          example: '\b0*([1-9]|[12][0-9]|30)\b'

        
  saveStoreAlertRequest:
    type: object
    required:
    - active
    properties:
      active:
        $ref: '#/definitions/alertIsActive'
      properties:
        description: Properties to configure the alert
        type: array
        items:
          $ref: '#/definitions/storeAlertProperty'
        example:
        - propertyId: 2
          propertyValue: '3'
  
  storeAlertProperty:
    type: object
    required:
    - propertyId
    - propertyValue
    properties:
      propertyId:
        $ref: '#/definitions/alertPropertyId'
      propertyValue:
        $ref: '#/definitions/alertPropertyValue'
        
        
########################################################################################
########################################################################################
########################################################################################


  standardOffers:
    type: object
    properties:
      offers:
        description: All standard offers
        type: array
        items:
          $ref: '#/definitions/standardOffer'
        example:
        - additionalClickPrice: 0.1234
          includedClick: 1200
          isMostPopular: true
          name: Wonder offer
          offerId: 1234
          fixedPrice: 101.42
          currencyCode: EUR
          position: 1
          functionalities:
          - functionalityCode: MARKETMANA
            maxValueInteger: 4
            unlimited: false 
            text: Marketplace management
            
      functionalities:
        description: All functionalities...
        type: array
        items:
          $ref: '#/definitions/functionality'
        example:
        - code: MARKETMANA
          order: 1

  standardOffer:
    type: object
    properties:
      additionalClickPrice:
        format: double
        description: The additional click price
        type: number
        example: 0.1234
      includedClick:
        format: int32
        description: The included click
        type: integer
        example: 1200
      isMostPopular:
        description: UI purpose. Is the offer is the most popular
        type: boolean
        example: true
      isOldOffer:
        description: Is an old offer
        type: boolean
        example: false
      name:
        description: The offer name
        type: string
        example: Wonder offer
      offerId:
        format: int32
        description: The offer Id
        type: integer
        example: 1234
      fixedPrice:
        format: double
        description: The fixed price of the offer
        type: number
        example: 101.42
      currencyCode:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.CurrencyCode'
      position:
        format: int32
        description: UI purpose. The position of the offer
        type: integer
        example: 1
      functionalities:
        type: array
        items:
          $ref: '#/definitions/offerFunctionality'
        example:
        - functionalityCode: MARKETMANA
          maxValueInteger: 4
          unlimited: false
          text: Marketplace management
  functionality:
    type: object
    properties:
      code:
        description: The functionality code
        type: string
        example: MARKETMANA
      order:
        format: int32
        description: 'UI purpose: Indicate the position of the functionality'
        type: integer
        example: 1
  
  offerFunctionality:
    type: object
    required:
    - functionalityCode
    - unlimited
    properties:
      functionalityCode:
        description: The functionality code
        type: string
        example: MARKETMANA
      maxValueInteger:
        format: int32
        description: The max value in integer for this feature in this offer
        type: integer
        example: 4
      unlimited:
        description: Is this feature is unlimited for this offer?
        type: boolean
        example: false
      text:
        description: A description text of this feature
        type: string
        example: Marketplace management

  billingPeriods:
    type: object
    required:
    - billingPeriods
    properties:
      billingPeriods:
        description: The billing period list
        type: array
        items:
          $ref: '#/definitions/billingPeriod'
        example:
        - billingPeriodInMonth: 12
          discountPercentage: 20.00
  
  billingPeriod:
    type: object
    required:
    - billingPeriodInMonth
    - discountPercentage
    properties:
      billingPeriodInMonth:
        format: int32
        description: The billing period in month
        type: integer
        example: 12
      discountPercentage:
        format: double
        description: The discount percentage related to this billing period
        type: number
        example: 20.00
        
  promotionalCodeValidity:
    description: Indicate the validaty of the discount
    enum:
    - None
    - Valid
    - Invalid
    - ExpiredOrInactive
    type: string
    example: Valid
    
  bonusType:
    enum:
    - OnlinePaymentMethodBonus
    - PreviousInvoiceProrataBonus
    - PreviousContractBonus
    type: string
x-azure-api-id: 'v2usercustomer'