swagger: '2.0'
info:
  version: '2.0'
  title: 'Public - Channels'
  description: 'This api allows you to get access to the channels. The main use case is our public commercial web site.'
  contact:
    email: support@beezup.com
    
 
  license:
    name: BeezUP 
    url: http://www.beezup.com

# host: api.beezup.com
# basePath: /v2/public/channels

x-host: api.beezup.com
x-basePath: /v2/public/channels

  
# Added by API Auto Mocking Plugin
# Added by API Auto Mocking Plugin
#host: virtserver.swaggerhub.com
#basePath: /BeezUP/public_channels/2.0

host: api.beezup.com
basePath: /v2/public/channels


schemes:
  - https 

consumes:
  - application/json
produces:
  - application/json 
  
x-servers:
- url: https://virtserver.swaggerhub.com/BeezUP/public_channels/v2
  description: Mock Server
- url: https://api.beezup.com/v2/public/channels
  description: Production Server


x-api-name: V2PublicChannels
x-api-namespace: BeezUP.Channel.WebService

tags:
- name: Public Channels
  description: All our public channels operations

paths: 


  '/':
    get:
      tags:
      - Public Channels
      summary: Get public channel index
      description: Use this operation to get the correct link to the channels and to the list of values
      operationId: GetChannelsIndex
      responses:
        200:
          description: Channel list regrouped by country and links to list of values
          schema:
            $ref: '#/definitions/publicChannelIndex'

        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/{countryIsoCode}':
    get:
      tags:
      - Public Channels
      summary: The channel list for one country
      operationId: GetChannels
      parameters:
      - name: countryIsoCode
        in: path
        required: true
        type: string
        description: |
          The country iso code alpha 3 based on this: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3#Decoding_table \
          To know which country are available you have to use the operation: GetChannelsByCountry
      - name: 'Accept-Encoding'
        description: Allows the client to indicate wether it accepts a compressed encoding to reduce traffic size. 
        in: header
        required: true
        type: array
        collectionFormat: csv
        items:
          type: string
#        x-example: 
#        - gzip
#        - deflate

      responses:
        200:
          description: The channel list for one country
          schema:
            $ref: '#/definitions/channelInfoList'
          examples:
            application/json:
             channels:
             -  name: Amazon Direct FRA
                homeUrl: 'http://www.amazon.fr'
                logoUrl: 'http://beezupcdn.blob.core.windows.net/comparators/Amazon%2520Direct%2520FRA.png'
                types:
                - Marketplace
              
    
        404:
          description: Channel country not found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
    



definitions:

  # TODO: Add country display name
  

  publicChannelIndex:
    type: object
    properties:
      channels:
        type: object
        description: The key is the country iso code
        additionalProperties:
          $ref: '#/definitions/links.GetChannelsLink'
        example:
          FRA: 
            href: /v2/public/channels/FRA
            method: GET
          DEU: 
            href: /v2/public/channels/DEU    
            method: GET
          ESP: 
            href: /v2/public/channels/ESP'
            method: GET
          ITA: 
            href: /v2/public/channels/ITA
            method: GET
          GBR: 
            href: /v2/public/channels/GBR
            method: GET

      links:
        type: object
        properties:
          self:
            $ref: '#/definitions/links.GetChannelsIndexLink'
          channelCountryLov:
            $ref: '#/definitions/links.GetPublicListOfValuesLink'
          channelTypeLov:
            $ref: '#/definitions/links.GetPublicListOfValuesLink'
        example:
          self:
            href: /v2/public/channels
            method: GET
          channelCountryLov:
            href: /v2/public/lov/www_ChannelCountry
            method: GET
          channelTypeLov:
            href: /v2/public/lov/ChannelType
            method: GET
            
  links.GetPublicListOfValuesLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/public/lov/ChannelType
        method: GET


  links.GetChannelsLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/public/channels/FRA
        method: GET

  links.GetChannelsIndexLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/public/channels
        method: GET



  channelInfoList:
    type: object
    properties:
      links:
        type: object
        properties:
          self:
            $ref: '#/definitions/links.GetChannelsLink'
      channels:
        type: array
        items:
          $ref: '#/definitions/channelInfo'
          
          
  channelInfo:
    type: object
    required:
    - name
    - homeUrl
    - logoUrl
    - types
    properties:
      name:
        type: string
        description: The channel name
        example: Amazon Direct FRA
      homeUrl:
        type: string
        format: uri
        description: The channel home url
        example: 'http://www.amazon.fr'
      logoUrl:
        type: string
        format: uri
        description: The channel logo url
        example: 'http://beezupcdn.blob.core.windows.net/comparators/Amazon%2520Direct%2520FRA.png'
      types:
        description: The type list related to a channel
        type: array
        items:
          type: string
        example:
        - Marketplace
        
        
        
x-azure-api-id: 'V2PublicChannels'