swagger: '2.0'
info:
  version: "2.0"
  title: Channels
  description: This api allows you to get access to your channels
  x-logo:
    url: "https://avatars0.githubusercontent.com/u/25665430"
    backgroundColor: "#FFFFFF"

  contact:
    email: help@beezup.com

  license:
    name: BeezUP
    url: http://www.beezup.com

schemes:
 - https
host: api.beezup.com
basePath: /v2/user/channels

externalDocs:
  description: BeezUP API documentation
  url: https://beezup.github.io/api-docs/

x-servers:
- url: https://virtserver.swaggerhub.com/BeezUP/user_channels/v2
  description: Mock Server
- url: https://api.beezup.com/v2/user/channels
  description: Production Server

x-beezup-api-ops:
  repo: Channel2
  appRoot: BeezUP2.Channel.ApiService
  apiName: V2UserChannels
  useBeezUPFrameworkVersion2: true
  namespace: BeezUP2.Channel.ApiService
  comment: |
    Adding TrackingType to ChannelInfo
    Changing contact email support to help
    Removing DescriptionAvailable + typed link to self in GET GetAvailableChannels

x-basePath: /v2/user/channels

consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  api_key:
    description: The api subscription key
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header

security:
- api_key: []

parameters:

  channelIdParameter:
    name: channelId
    in: path
    required: true
    description: The channel identifier
    type: string
    format: guid
    x-example: '2dc136a7-0d3d-4cc9-a825-a28a42c53e28'

tags:
- name: Channels Global
  description: All global operations

paths:
  '/':
    get:
      tags:
      - Channels Global
      summary: List all available channel for this store
      operationId: GetAvailableChannels
      parameters:
      - name: storeId
        in: query
        required: true
        description: The store identifier
        type: string
        format: guid
        x-example: '04730364-9826-4ff3-92e4-51fccd02bf10'
      responses:
        200:
          description: Available channel list for this store
          schema:
            type: array
            items:
              $ref: '#/definitions/channelHeader'

  '/{channelId}':
    get:
      tags:
      - Channels Global
      summary: Get channel information
      operationId: GetChannelInfo
      parameters:
      - $ref: '#/parameters/channelIdParameter'
      responses:
        200:
          description: Channel information
          schema:
            $ref: '#/definitions/channelInfo'

  '/{channelId}/categories':
    get:
      tags:
      - Channels Global
      summary: Get channel categories
      operationId: GetChannelCategories
      parameters:
      - $ref: '#/parameters/channelIdParameter'
# [Style Validator (e4950b7a-5ffc-455a-9568-276b972187de) : camelCase]: 'Accept-Encoding' does not comply with the rule
      - name: 'Accept-Encoding'
        description: Indicates that the client accepts that the response will be compressed to reduce traffic size.
        in: header
        required: true
        type: array
        collectionFormat: csv
        items:
          type: string
#        x-example:
#        - gzip
      responses:
        200:
          description: Channel categories
          headers:
            Content-Encoding:
              description: Indicates the compression use in the response
              type: array
              collectionFormat: csv
              items:
                type: string
          schema:
            $ref: '#/definitions/channelRootCategory'

  '/{channelId}/columns':
    post:
      tags:
      - Channels Global
      summary: Get channel columns
      operationId: GetChannelColumns
      parameters:
      - $ref: '#/parameters/channelIdParameter'
# [Style Validator (e4950b7a-5ffc-455a-9568-276b972187de) : camelCase]: 'Accept-Encoding' does not comply with the rule
      - name: 'Accept-Encoding'
        description: Indicates that the client accepts that the response will be compressed to reduce traffic size.
        in: header
        required: true
        type: array
        collectionFormat: csv
        items:
          type: string
#        x-example:
#        - gzip
      - name: request
        in: body
        description: Allow you to filter the channel column identifier list your want to get
        required: false
        schema:
          type: array
          items:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelColumnId'
      responses:
        200:
          description: Channel columns
          headers:
            Content-Encoding:
              description: Indicates the compression use in the response
              type: array
              collectionFormat: csv
              items:
                type: string
          schema:
            type: array
            items:
              $ref: '#/definitions/channelColumn'

#  '/{channelId}/categories/{channelCategoryId}':
#    get:
#      tags:
#      - Channels Global
#      summary: Get first level channel category
#      operationId: GetChannelFirstLevelCategory
#      parameters:
#      - $ref: '#/parameters/channelIdParameter'
#      - name: channelCategoryId
#        in: path
#        description: The first level channel category identifier
#        required: true
#        type: string
#        format: guid
#      - name: 'Accept-Encoding'
#        description: Indicates that the client accepts that the response will be compressed to reduce traffic size.
#        in: header
#        required: true
#        type: array
#        items:
#          type: string
#          collectionFormat: csv
#        x-example:
#        - gzip
#      responses:
#        200:
#          description: First level channel category
#          headers:
#            Content-Encoding:
#              description: Indicates the compression use in the response
#              type: array
#              items:
#                type: string
#                collectionFormat: csv
#          schema:
#            $ref: '#/definitions/channelFirstLevelCategory'
#

definitions:

  links.GetChannelInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channels/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0
        method: GET

  channelHeader:
    description: The available channel
    type: object
    required:
    - channelId
    - channelName
    - channelLogoUrl
    #- descriptionAvailable
    - links
    - types
    properties:
      channelId:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelId'
      channelName:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelName'
      channelLogoUrl:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.HttpUrl'
      #descriptionAvailable:
      #  type: boolean
      #  description: Indicates if we have more detailed information about this channel
      #  default: false
      #  example: true
      types:
        description: The type list related to a channel
        type: array
        items:
          type: string
        example:
        - Marketplace
      links:
        $ref: '#/definitions/channelHeaderLinks'

  channelHeaderLinks:
    description: The links related to an available channel
    type: object
    properties:
      self:
        $ref: '#/definitions/links.GetChannelInfoLink'

  channelInfo:
    type: object
    required:
    - channelId
    - channelName
    properties:
      channelId:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelId'
      channelName:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelName'
      channelLogoUrl:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.HttpUrl'
      channelDescription:
        type: string
        description: Indicae a description to the channel
        example: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia dolorum, animi voluptatibus maiores, assumenda maxime illum, labore quae quas ducimus laudantium provident veritatis doloremque dignissimos eum. Error magni illum autem.
      beezUPOffer:
        type: string
        description: Indicate the BeezUP offer
        example: First month free
# [Style Validator (e4950b7a-5ffc-455a-9568-276b972187de) : All model properties must have examples]: Field 'example' required in 'properties'
      salesContact:
        type: object
        properties:
          name:
            type: string
            description: Indicate the BeezUP offer
            example: Stéphanie Gregis
          email:
            type: string
            format: email
            description: Indicate the sales contact email
            example: stephanie.gregis@m6.fr
          phoneNumber:
            type: string
            description: The sales contact phone number
            example: '0033 6 08 87 85 45'
# [Style Validator (e4950b7a-5ffc-455a-9568-276b972187de) : All model properties must have examples]: Field 'example' required in 'properties'
      details:
        type: object
        properties:
          costs:
            type: string
            description: The cost's description of the channel
            example: CPC variation from 0.10€ to 0.20€
          businessModel:
            type: string
            description: The business model of the channel
            example: CPC
          channelType:
            type: string
            description: The channel type
            example: Comparator
          trackingType:
            type: string
            description: The tracking type
            example: Redirect
          category:
            description: The channel category
            type: string
            example: 'NULL'
          homeUrl:
            description: The home url of the channel
            example: http://www.achetezfacile.com
            type: string
            format: uri
          subscriptionLink:
            type: string
            description: The subscription link to the channel
            example: |
              By Email at : stephanie.gregis@m6.fr
# [Style Validator (e4950b7a-5ffc-455a-9568-276b972187de) : All model properties must have examples]: Field 'example' required in 'properties'
      keyNumbers:
        type: object
        properties:
          products:
            type: string
            description: The estimated product count of the channel
            example: '1M'
          categories:
            type: string
            description: The estimated category count of the channel
            example: 'NC'
          stores:
            type: string
            description: The estimated store count of the channel
            example: '3000'
          viewsPerMonth:
            type: string
            description: The estimated view count per month of the channel
            example: '3M'
# [Style Validator (e4950b7a-5ffc-455a-9568-276b972187de) : All model properties must have examples]: Field 'example' required in 'properties'
      technicalContact:
        type: object
        properties:
          name:
            type: string
            description: The technical contact name
            example: Pierre Guédon
          phoneNumber:
            type: string
            description: The technical contact phone number
            example: 'NC'
          email:
            type: string
            description: The technical contact email
            example: pierre.guedon@m6.fr

  channelCategoryDefaultCost:
    description: The default cost on this channel category
    type: number
    format: decimal
    example: 10.42

  channelCategoryChannelCode:
    description: The channel category channel code identifier
    type: string
    example: '1342'

  channelCategoryLevel:
    type: integer
    format: int32
    minimum: 1
    maximum: 9
    description: The channel category level starting from 1
    example: 3

  channelRootCategory:
    description: Get channel first level category list
    type: object
    required:
    - firstLevelCategories
    properties:
# [Style Validator (e4950b7a-5ffc-455a-9568-276b972187de) : All model properties must have examples]: Field 'example' required in 'properties'
      firstLevelCategories:
        type: array
        items:
          $ref: '#/definitions/channelFirstLevelCategory'

#  channelFirstLevelCategoryInfo:
#    description: The information concerning the first level channel category
#    type: object
#    required:
#    - channelCategoryId
#    - channelCategoryName
#    - channelCategoryLevel
#    - links
#    properties:
#      channelCategoryId:
#        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelCategoryId'
#      channelCategoryName:
#        type: string
#        description: The channel category name
#        example: Clothing
#      channelCategoryLevel:
#        $ref: '#/definitions/channelCategoryLevel'
#      channelCategoryDefaultCost:
#        $ref: '#/definitions/channelCategoryDefaultCost'
#      channelCategoryChannelCode:
#        $ref: '#/definitions/channelCategoryChannelCode'
#      links:
#        type: object
#        required:
#        - self
#        properties:
#          self:
#            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/Link3'
#

  channelFirstLevelCategory:
    description: The first level category with his sub categories
    type: object
    required:
    - channelCategoryId
    - channelCategoryName
    - channelCategoryLevel
    properties:
      channelCategoryId:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelCategoryId'
      channelCategoryName:
        type: string
        description: The channel category name
        example: Clothing
      channelCategoryLevel:
        $ref: '#/definitions/channelCategoryLevel'
      channelCategoryDefaultCost:
        $ref: '#/definitions/channelCategoryDefaultCost'
      channelCategoryChannelCode:
        $ref: '#/definitions/channelCategoryChannelCode'
      channelCategoryColumnOverrides:
        $ref: '#/definitions/channelCategoryColumnOverrides'
# [Style Validator (e4950b7a-5ffc-455a-9568-276b972187de) : All model properties must have examples]: Field 'example' required in 'properties'
      subCategories:
        type: array
        items:
          $ref: '#/definitions/channelCategory'

  channelCategory:
    description: The channel category
    type: object
    required:
    - channelCategoryId
    - channelCategoryPath
    - channelCategoryLevel
    properties:
      channelCategoryId:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelCategoryId'
      channelCategoryPath:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelCategoryPath'
      channelCategoryLevel:
        $ref: '#/definitions/channelCategoryLevel'
      channelCategoryDefaultCost:
        $ref: '#/definitions/channelCategoryDefaultCost'
      channelCategoryChannelCode:
        $ref: '#/definitions/channelCategoryChannelCode'
      channelCategoryColumnOverrides:
        $ref: '#/definitions/channelCategoryColumnOverrides'

  channelCategoryColumnOverrides:
    description: The channel category column overrides
    type: object
    additionalProperties:
      $ref: '#/definitions/channelCategoryColumnOverride'

  channelCategoryColumnOverride:
    type: object
    required:
    - channelColumnId
    - channelColumnName
    - showInMapping
    - configuration
    properties:
      channelColumnId:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelColumnId'
      channelColumnName:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelColumnName'
      channelColumnDescription:
        $ref: '#/definitions/channelColumnDescription'
      showInMapping:
        $ref: '#/definitions/channelColumnShowInMapping'
      configuration:
        $ref: '#/definitions/channelColumnConfiguration'
      restrictedValues:
        $ref: '#/definitions/channelColumnRestrictedValues'

  channelColumnDescription:
    type: string
    description: The channel column description
    example: 'Please enter the base prices (price per unit) according to <a href="http://www.gesetze-im-internet.de/pangv/__2.html">Article PAngV</a>'

  channelColumnShowInMapping:
    type: boolean
    description: Indicates if this column must shown in the mapping page or not
    example: true

  channelColumn:
    description: The channel column
    type: object
    required:
    - channelColumnId
    - channelColumnName
    - showInMapping
    - position
    - configuration

    properties:
      channelColumnId:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelColumnId'
      channelColumnName:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelColumnName'
      channelColumnDescription:
        $ref: '#/definitions/channelColumnDescription'
      showInMapping:
        $ref: '#/definitions/channelColumnShowInMapping'
      position:
        type: integer
        description: The position of the column starting from 1
        example: 1
      configuration:
        $ref: '#/definitions/channelColumnConfiguration'
      restrictedValues:
        $ref: '#/definitions/channelColumnRestrictedValues'

  channelColumnRestrictedValues:
    type: object
    description: |
      The restricted values. The key will be the restricted value identifier (format:guid) and the value will be the restriced value
    additionalProperties:
      type: string

  channelColumnConfiguration:
    description: The channel column configuration. The BeezUP Column Name is optional. If the BeezUP column is mapped we will indicate the data type and column importance of the BeezUP column.
    type: object
    required:
    - columnImportance
    - columnDataType
    properties:
      columnImportance:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ColumnImportance'
      columnDataType:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ColumnDataType'
      beezUPColumnName:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.BeezUPColumnName'

x-azure-api-id: 'V2UserChannels'