swagger: '2.0'
info:
  title: Public - Security
  description: |
    This API will allow you to create your account and to get your tokens. \
    If you lost your password, you have an operation to get it back.

  version: "2.0"

  x-logo:
    url: "https://avatars0.githubusercontent.com/u/25665430"
    backgroundColor: "#FFFFFF"

  contact:
    email: help@beezup.com

  license:
    name: BeezUP
    url: http://www.beezup.com

host: api.beezup.com
basePath: /v2/public/security

x-beezup-api-ops:
  repo: Customer
  apiName: V2PublicSecurity
  appRoot: BeezUP.Customer.WebService
  namespace: BeezUP.Customer.WebService
  comment: |
    Changing contact email support to help
    No change. Just server side generation.

x-basePath: /v2/public/security

schemes:
  - https

consumes:
  - application/json
produces:
  - application/json

tags:
- name: Security

paths:
  /login:
    post:
      tags:
      - Security
      summary: Login
      description: User Login - The login will give your tokens
      operationId: Login
      parameters:
        - name: request
          in: body
          schema:
            $ref: '#/definitions/loginRequest'
          required: true
      responses:
        '200':
          description: Your tokens
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ApiCredentials'
        '400':
          description: Bad Request
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'

        '403':
          description: Invalid credentials
        '500':
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

  /register:
    post:
      tags:
      - Security
      summary: User Registration
      description: User Registration - Create a new user on BeezUP
      operationId: Register
      parameters:
        - name: request
          in: body
          schema:
            $ref: '#/definitions/registerRequest'
          required: true
      responses:
        '204':
          description: Customer registered
        '400':
          description: Email or password is invalid. Disposable email are refused.
        '409':
          description: Email already used
        '500':
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

      produces:
        - application/json
  /lostpassword:
    post:
      tags:
      - Security
      summary: Lost password
      description: Lost password - Your password will be regenerated and sent to your email
      operationId: LostPassword
      parameters:
        - name: email
          in: body
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Email'
          description: Your email
          required: true
      responses:
        '204':
          description: New password sent
        '400':
          description: Bad Request
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'

        '404':
          description: Email not found
        '500':
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

        '502':
          description: Problem with SMTP service
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'

  /zendeskToken:
    post:
      tags: 
      - Security
      summary: Zendesk token
      description: 'Zendesk token - Generates a JWT token to access BeezUP restricted Help Center in SSO as described here: https://support.zendesk.com/hc/en-us/articles/222874768-Using-restricted-Help-Center-content-with-the-Web-Widget'
      operationId: ZendeskToken
      parameters: 
        - name: request
          in: body
          schema:
            $ref: '#/definitions/zendeskTokenRequest'
          required: true
      responses:
        '200':
          description: A JWT token to connect the Zendesk Web Widget 
          schema: 
            $ref: '#/definitions/zendeskToken'
        '500': 
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
          

definitions:

  loginRequest:
    required:
      - login
      - password
    type: object
    properties:
      login:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Email'
      password:
        description: Your password
        type: string
        format: password
        example: I@mW0nder$Full

  registerRequest:
    required:
      - email
      - password
    type: object
    properties:
      email:
        description: Your email. We refuse disposable email.
        type: string
        example: myemail@mycompany.com
      password:
        description: |
          The password you want to use for your new account. \
          The password length must be greater or equals to 6 and lower or equals to 128. \
          The password must contains at least one number and one special character

        type: string
        example: I@mW0nder$Full
      cultureName:
        type: string
        description: |
          Can be null. Default: en-GB. The culture name you want to use. FYI. \
          The email activation will use this culture.
        example: en-GB
      commercialOwnerUserId:
        format: uuid
        description: The user id of your commercial in BeezUP.
        type: string
        example: 47ea14ab-195d-4f9a-a24e-32c329ee40f6
        
  zendeskTokenRequest:
    required:
      - name
      - email
    type: object
    properties:
      name:
        type: string
        description: Customer name
      email:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Email'

  zendeskToken:
    description: JWT token to access Zendesk restricted help center
    type: object
    properties:
      token:
        description: A JWT token build from your name and email to use on Zendesk
        type: string
        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c'

x-azure-api-id: 'V2PublicSecurity'