swagger: '2.0'
info:
  title: Public - Security
  description: |
    This API will allow you to create your account and to get your tokens. \
    If you lost your password, you have an operation to get it back.
  
  version: "2.0"
  
  x-logo:
    url: "https://avatars0.githubusercontent.com/u/25665430"
    backgroundColor: "#FFFFFF"
  
  contact:
    email: support@beezup.com
     
 
  license:
    name: BeezUP 
    url: http://www.beezup.com
    
host: api.beezup.com
basePath: /v2/public/security
x-api-name: V2PublicSecurity
x-api-namespace: BeezUP.Customer.WebService
schemes:
  - https

consumes:
  - application/json
produces:
  - application/json
  
tags:
- name: Security
  
paths:
  /login:
    post:
      tags:
      - Security
      summary: Login
      description: User Login - The login will give your tokens
      operationId: Login
      parameters:
        - name: request
          in: body
          schema:
            $ref: '#/definitions/loginRequest'
          required: true
      responses:
        '200':
          description: Your tokens
          schema:
            $ref: '#/definitions/apiCredentials'
        '400':
          description: Bad Request
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'

        '403':
          description: Invalid credentials
        '500':
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

  /register:
    post:
      tags:
      - Security
      summary: User Registration
      description: User Registration - Create a new user on BeezUP
      operationId: Register
      parameters:
        - name: request
          in: body
          schema:
            $ref: '#/definitions/registerRequest'
          required: true
      responses:
        '204':
          description: Customer registered
        '400':
          description: Email or password is invalid. Disposable email are refused.
        '409':
          description: Email already used
        '500':
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


      produces:
        - application/json
  /lostpassword:
    post:
      tags:
      - Security
      summary: Lost password
      description: Lost password - Your password will be regenerated and sent to your email
      operationId: LostPassword
      parameters:
        - name: email
          in: body
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Email'
          description: Your email
          required: true
      responses:
        '204':
          description: New password sent
        '400':
          description: Bad Request
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'

        '404':
          description: Email not found
        '500':
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

        '502':
          description: Problem with SMTP service
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'

definitions:

  loginRequest:
    required:
      - login
      - password
    type: object
    properties:
      login:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Email'
      password:
        description: Your password
        type: string
        format: password
        example: I@mW0nder$Full
  
  apiCredentials:
    type: object
    properties:
      credentials:
        description: Your API credential list
        type: array
        items:
          $ref: '#/definitions/apiCredential'
        example:
        - productName: BeezUP API
          primaryToken: 3b22980d8d1143c6ba7adf4e55b9a153
          secondaryToken: 162ae17fd52044c38cce3388ea5b0c91
  
  apiCredential:
    description: Your api credential
    type: object
    properties:
      productName:
        description: The product name related to this credential
        type: string
        example: BeezUP API
      primaryToken:
        description: The primary token to be used in the next call in the user scope API
        type: string
        example: 3b22980d8d1143c6ba7adf4e55b9a153
      secondaryToken:
        description: >-
          The secondary token. Could be usefull if you want to share your access
          with someone else.
        type: string
        example: 162ae17fd52044c38cce3388ea5b0c91

 
 

  registerRequest:
    required:
      - email
      - password
    type: object
    properties:
      email:
        description: Your email. We refuse disposable email.
        type: string
        example: myemail@mycompany.com
      password:
        description: |
          The password you want to use for your new account. \
          The password length must be greater or equals to 6 and lower or equals to 128. \
          The password must contains at least one number and one special character
          
        type: string
        example: I@mW0nder$Full
      cultureName:
        type: string
        description: |
          Can be null. Default: en-GB. The culture name you want to use. FYI. \
          The email activation will use this culture.
        example: en-GB
      commercialOwnerUserId:
        format: uuid
        description: The user id of your commercial in BeezUP.
        type: string
        example: 47ea14ab-195d-4f9a-a24e-32c329ee40f6
x-azure-api-id: 'V2PublicSecurity'