swagger: '2.0'
info:
  title: Public - List of Values
  description: This API gives you public list of values.
  version: "2.0"
  contact:
    email: support@beezup.com
    
 
  license:
    name: BeezUP 
    url: http://www.beezup.com
  
  x-changeComment: |
    Remove the groups opreations

host: api.beezup.com
basePath: /v2/public/lov
schemes:
  - https


x-api-name: PublicLOV
x-api-namespace: BeezUP.Framework.LOV.WebService

consumes:
  - application/json
produces:
  - application/json
tags:
- name: LOV
  description: All LOV operations


paths:
  /:
    get:
      summary: Get all list names
      operationId: GetPublicLovIndex
      parameters:
      - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/ifNoneMatchParameter'
      tags:
      - LOV
      responses:
        '200':
          description: Get the list names
          headers:
            ETag:
              description: The ETag corresponding to the LOV Index
              type: string
          schema:
            $ref: '#/definitions/publicLovIndex'
        304:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/304_NotModified'
          
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

            
  '/{listName}':
    get:
      tags:
      - LOV
      summary: Get the list of values related to this list name
      operationId: GetPublicListOfValues
      parameters:
        - name: listName
          in: path
          required: true
          description: The list of value name your want to get
          type: string 
# [Style Validator (82c24f10-f19e-4e3a-b997-49d420985351) : camelCase]: 'Accept-Language' does not comply with the rule
        - name: 'Accept-Language'
          description: Indicates that the client accepts the following languages.
          in: header
          required: false
          type: array
          items:
            type: string
            collectionFormat: csv

      responses:
        '200':
          description: The list of values
          headers:
            ETag:
              description: The ETag corresponding to the LOV Index
              type: string
            Content-Language:
              description: Indicates the language use in the response
              type: array
              items:
                type: string
                collectionFormat: csv
          schema:
            $ref: '#/definitions/publicListOfValuesResponse'
        '404':
          description: List not found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'




definitions:

  publicLovIndex:
    type: object
    properties:
      links:
        $ref: '#/definitions/publicLovIndexLinks'
        
  publicLovIndexLinks:
    type: object
    properties:
      self:
        $ref: '#/definitions/links.GetPublicLovIndexLink'

      lists:
        $ref: '#/definitions/publicLovLinks'



  publicLovLinks:
    description: List of lov link. The key is the list name.
    type: object
    additionalProperties:
      $ref: '#/definitions/links.GetPublicListOfValuesLink'


  links.GetPublicListOfValuesLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/public/lov/Go2CultureName
        method: GET

  
  links.GetPublicLovIndexLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/public/lov
        method: GET
        




  publicListOfValuesResponse:
    type: object
    properties:
      links:
        $ref: '#/definitions/publicListOfValuesResponseLinks'
# [Style Validator (82c24f10-f19e-4e3a-b997-49d420985351) : All model properties must have examples]: Field 'example' required in 'properties'
      items:
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ListOfValueItem'
        
  
  
  publicListOfValuesResponseLinks:
    type: object
    properties:
      self:
        $ref: '#/definitions/links.GetPublicListOfValuesLink'
    

x-azure-api-id: 'v2publiclov'