swagger: '2.0'
info:
  title: Public - List of Values
  description: This API gives you public list of values.
  version: "2.0"
  contact:
    email: support@beezup.com
    
 
  license:
    name: BeezUP 
    url: http://www.beezup.com

host: api.beezup.com
basePath: /v2/public/lov
schemes:
  - https 

consumes:
  - application/json
produces:
  - application/json
  
x-api-name: PublicLOV
x-api-namespace: BeezUP.Framework.LOV.WebService

tags:
- name: LOV
  description: All LOV operations
- name: Groups
  description: All LOV groups operations


paths:
  /:
    get:
      summary: Get all list names
      operationId: GetPublicListNames
      tags:
      - LOV
      responses:
        '200':
          description: Get the list names
          schema:
            type: array
            items:
              $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.LOVLink2' 
            
      produces:
        - application/json

  /groups:
    get:
      tags: 
        - Groups
      summary: Get list of group of list name
      operationId: GetPublicListGroupNames

      responses:
        '200':
          description: Get the list of group names
          schema:
            type: array
            items:
              $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.LOVLink2' 
            
  '/{listName}':
    get:
      tags:
      - LOV
      summary: Get the list of values related to this list name
      operationId: GetPublicListOfValues
      parameters:
        - name: listName
          in: path
          required: true
          description: The list of value name your want to get
          type: string 
# [Style Validator (82c24f10-f19e-4e3a-b997-49d420985351) : camelCase]: 'Accept-Language' does not comply with the rule
        - name: 'Accept-Language'
          description: Indicates that the client accepts the following languages.
          in: header
          required: false
          type: array
          items:
            type: string
            collectionFormat: csv

      responses:
        '200':
          description: Get the list of values
          headers:
            Content-Language:
              description: Indicates the language use in the response
              type: array
              items:
                type: string
                collectionFormat: csv
          schema:
            type: array
            items:
              $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ListOfValueItem'
        '404':
          description: The list is unreachable or not found


  '/groups/{listGroupName}':
    get:
      tags: 
        - Groups
      summary: Get list of values related to this group name
      operationId: GetPublicListGroup
      parameters:
        - name: listGroupName
          in: path
          required: true
          description: The list group name your want to get
          type: string 
      responses:
        '200':
          description: Get the list of group names
          schema:
            type: array
            items:
              $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.LOVLink2' 
        '403':
          description: The list is unreachable or not found
          

x-azure-api-id: 'v2publiclov'