swagger: '2.0'
info:
  title: User - List of Values
  description: This API gives you access to list of values.
  version: "2.0"
  contact:
    email: support@beezup.com
    
 
  license:
    name: BeezUP 
    url: http://www.beezup.com

 
host: api.beezup.com
basePath: /v2/user/lov
schemes:
  - https

x-api-name: UserLOV
x-api-namespace: BeezUP.Framework.LOV.WebService

consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  api_key:
    description: The api subscription key
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header

security:
- api_key: []

tags:
- name: LOV
  description: All LOV operations
- name: Groups
  description: All LOV groups operations

paths:
  /:
    get:
      summary: Get all list names
      operationId: GetUserLovIndex
      tags:
      - LOV
      responses:
        '200':
          description: Get the list names
          schema:
            $ref: '#/definitions/userLovIndex'
            
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
            

  '/{listName}':
    get:
      tags:
      - LOV
      summary: Get the list of values related to this list name
      operationId: GetUserListOfValues
      parameters:
        - name: listName
          in: path
          required: true
          description: The list of value name your want to get
          type: string 
# [Style Validator (0015615c-61c2-47a4-b7b1-da373f4df0ef) : camelCase]: 'Accept-Language' does not comply with the rule
        - name: 'Accept-Language'
          description: Indicates that the client accepts the following languages.
          in: header
          required: false
          type: array
          items:
            type: string
            collectionFormat: csv

      responses:
        '200':
          description: The list of values
          headers:
            Content-Language:
              description: Indicates the language use in the response
              type: array
              items:
                type: string
                collectionFormat: csv
              
              
          schema:
            $ref: '#/definitions/userListOfValuesResponse'
        '404':
          description: List not found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
  '/groups/{listGroupName}':
    get:
      tags: 
        - Groups
      summary: Get list of values related to this group name
      operationId: GetUserListGroup
      parameters:
        - name: listGroupName
          in: path
          required: true
          description: The list group name your want to get
          type: string 
      responses:
        '200':
          description: The list group
          schema:
            $ref: '#/definitions/userListGroupResponse'
        '404':
          description: List group not found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
definitions:

  userLovIndex:
    type: object
    properties:
      links:
        $ref: '#/definitions/userLovIndexLinks'
        
  userLovIndexLinks:
    type: object
    properties:
      self:
        $ref: '#/definitions/links.GetUserLovIndexLink'
      groups:
        $ref: '#/definitions/userLovGroupsLinks'
      lists:
        $ref: '#/definitions/userLovLinks'

  userLovGroupsLinks:
    description: Get all lov groups links. The key is the list group name.
    type: object
    additionalProperties:
      $ref: '#/definitions/links.GetUserListGroupLink'
    

  userLovLinks:
    description: List of lov link. The key is the list name.
    type: object
    additionalProperties:
      $ref: '#/definitions/links.GetUserListOfValuesLink'


  links.GetUserListOfValuesLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/lov/Go2CultureName
        method: GET

  
  links.GetUserLovIndexLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/lov
        method: GET
        
  links.GetUserListGroupLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/lov/groups/LG_ShippingMethod
        method: GET



  userListOfValuesResponse:
    type: object
    properties:
      links:
        $ref: '#/definitions/userListOfValuesResponseLinks'
# [Style Validator (0015615c-61c2-47a4-b7b1-da373f4df0ef) : All model properties must have examples]: Field 'example' required in 'properties'
      items:
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ListOfValueItem'
        
            
  userListGroupResponse:
    type: object
    properties:
      links:
        $ref: '#/definitions/userListGroupResponseLinks'
      lovLinks:
        $ref: '#/definitions/userLovLinks'
        
  userListGroupResponseLinks:
    type: object
    properties:
      self:
        $ref: '#/definitions/links.GetUserListGroupLink'
  
  userListOfValuesResponseLinks:
    type: object
    properties:
      self:
        $ref: '#/definitions/links.GetUserListOfValuesLink'
    

x-azure-api-id: 'v2userlov'