swagger: '2.0'
info:
  title: User - List of Values
  description: This API gives you access to list of values.
  version: "2.0"
  contact:
    email: support@beezup.com
    
 
  license:
    name: BeezUP 
    url: http://www.beezup.com
  
  x-changeComment: |
    Remove the groups opreations


 
host: api.beezup.com
basePath: /v2/user/lov
schemes:
  - https

x-beezup-api-ops:
  repo: LOVWebService
  apiName: V2UserLOV
  serverSideBeezUPFrameworkVersion: 1
  appRoot: BeezUP.Framework.LOV.WebService
  namespace: BeezUP.Framework.LOV.WebService
  comment: |
    Put in place dev branch.
    
x-basePath: /v2/user/lov
x-apiName: V2UserLOV
x-namespace: BeezUP.Framework.LOV.WebService
x-serverSideBeezUPFrameworkVersion: 2

consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  api_key:
    description: The api subscription key
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header

security:
- api_key: []

tags:
- name: LOV
  description: All LOV operations


paths:
  /:
    get:
      summary: Get all list names
      operationId: GetUserLovIndex
      tags:
      - LOV
      responses:
        '200':
          description: Get the list names
          headers:
            ETag:
              description: The ETag corresponding to the LOV Index
              type: string
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              type: array
              collectionFormat: csv
              items:
                type: string
          schema:
            $ref: '#/definitions/userLovIndex'
        304:
          description: The ETag sent in the http header If-None-Match did not change. So you can keep your version.
          headers:
            ETag:
              description: The ETag corresponding to the LOV Index
              type: string
              
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              type: array
              collectionFormat: csv
              items:
                type: string
          
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
            

  '/{listName}':
    get:
      tags:
      - LOV
      summary: Get the list of values related to this list name
      operationId: GetUserListOfValues
      parameters:
        - name: listName
          in: path
          required: true
          description: The list of value name your want to get
          type: string 
        - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/acceptLanguageParameter'
        - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/ifNoneMatchParameter'
      responses:
        '200':
          description: The list of values
          headers:
            ETag:
              description: The ETag corresponding to the LOV Index
              type: string
              
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              type: array
              collectionFormat: csv
              items:
                type: string
            Content-Language:
              description: Indicates the language use in the response
              type: array
              collectionFormat: csv
              items:
                type: string
              
              
          schema:
            $ref: '#/definitions/userListOfValuesResponse'
        304:
          description: The ETag sent in the http header If-None-Match did not change. So you can keep your version.
          headers:
            ETag:
              description: The ETag corresponding to the LOV Index
              type: string
              
            Cache-Control:
              description: |
                Indicates the directive around the caching mechanisms.\
                For more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
              type: array
              collectionFormat: csv
              items:
                type: string

        404:
          description: List not found
          schema:
            $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ErrorResponseMessage'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'




definitions:

  userLovIndex:
    type: object
    properties:
      links:
        $ref: '#/definitions/userLovIndexLinks'
        
  userLovIndexLinks:
    type: object
    properties:
      self:
        $ref: '#/definitions/links.GetUserLovIndexLink'

      lists:
        $ref: '#/definitions/userLovLinks'


    

  userLovLinks:
    description: List of lov link. The key is the list name.
    type: object
    additionalProperties:
      $ref: '#/definitions/links.GetUserListOfValuesLink'


  links.GetUserListOfValuesLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/lov/Go2CultureName
        method: GET

  
  links.GetUserLovIndexLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/lov
        method: GET
        




  userListOfValuesResponse:
    type: object
    properties:
      links:
        $ref: '#/definitions/userListOfValuesResponseLinks'
# [Style Validator (0015615c-61c2-47a4-b7b1-da373f4df0ef) : All model properties must have examples]: Field 'example' required in 'properties'
      items:
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ListOfValueItem'
        
            
        
  
  userListOfValuesResponseLinks:
    type: object
    properties:
      self:
        $ref: '#/definitions/links.GetUserListOfValuesLink'
    

x-azure-api-id: 'v2userlov'