swagger: '2.0'
info:
  version: "2.0"
  title: Channel Catalogs
  description: |
    This api allows you to manage your channel catalogs. 
    
    A channel catalog is an association between your store and a channel.
    
    You will be able to:
    - map your catalog colums to channel columns.
    - map your catalog categories to the channel categories and define a cost of this category
    - configure the general and cost settings of the channel
    - enable or disable a channel
    - exclude products using filters for a channel
    - override product values for a channel
    - disable or reenable a product on a channel

  contact:
    email: support@beezup.com
  x-logo:
    url: "https://avatars0.githubusercontent.com/u/25665430"
    backgroundColor: "#FFFFFF"
  
  license:
    name: BeezUP 
    url: http://www.beezup.com

externalDocs: 
  description: BeezUP API documentation
  url: https://beezup.github.io/api-docs/

x-servers:
- url: https://virtserver.swaggerhub.com/BeezUP/user_channelcatalogs/v2
  description: Mock Server
- url: https://api.beezup.com/v2/user/channelCatalogs
  description: Production Server


host: api.beezup.com
basePath: /v2/user/channelCatalogs


x-beezup-api-ops:
  repo: Channel2
  appRoot: BeezUP2.Channel.ApiService
  apiName: V2UserChannelCatalogs
  namespace: BeezUP2.Channel.ApiService
  useBeezUPFrameworkVersion2: true
  comment: |
    Add pagination info in get products operation (request/response)
    Add channelCostSettings and put some properties required to help the developer to understand the situation on channel catalog.


x-basePath: /v2/user/channelcatalogs

consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  api_key:
    description: The api subscription key
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header


security:
- api_key: []


# tags are used for organizing operations
tags:
- name: Global
  description: All global operations
- name: Settings
  description: All settings operations
- name: Column Mappings
  description: All column mapping operations
- name: Category Mappings
  description: All category mapping operations
- name: Exclusion Filters
  description: All exclusion filters operations
- name: Products
  description: All products operations
- name: Products Overrides
  description: All products overrides operations
- name: Products Optimisation
  description: All products optimisation operations
- name: Exportations
  description: All channel catalog exportation operations

schemes:
 - https


parameters:

  channelCatalogIdParameter:
    name: channelCatalogId
    in: path
    required: true
    description: The channel catalog identifier
    type: string
    format: guid
    x-example: '6d6b04de-406b-4539-8e7e-bf3e8da5dfb0'
    
    
  productIdParameter:
    name: productId
    description: The product identifier
    in: path
    required: true
    type: string
    format: guid
    x-example: '578419df-1bbf-41a6-96fa-862e42182b67'

  exportFormatInQueryGeneralParameter:
    description: The file type of the exportation
    name: format
    in: query
    required: true
    type: string
    enum:
    - xlsx
    - csv


paths: 
  
  '/':
    get:
      tags:
      - Global
      summary: List all your current channel catalogs 
      operationId: GetChannelCatalogs
      parameters:
      - name: storeId
        in: query
        required: false
        description: The store identifier
        type: string
        format: guid
        x-example: '04730364-9826-4ff3-92e4-51fccd02bf10'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/channelCatalogList'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
    post:
      tags:
      - Global
      summary: Add a new channel catalog
      operationId: AddChannelCatalog
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/addChannelCatalogRequest'
      responses:
        201:
          description: When the channel has been successfully added for this store
          headers:
            Location:
              type: string
              description: The new location
              x-example: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0
            Retry-After:
              description: The duration in second to wait before polling this resource
              type: integer
              minimum: 5
              default: 5
              x-example: 5
          schema:
            $ref: '#/definitions/links.GetChannelCatalogLink'
  
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
  
  
  
  
  
  '/{channelCatalogId}':
    get:
      tags:
      - Global
      summary: Get the channel catalog information
      operationId: GetChannelCatalog
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
      
      responses:
        200:
          description: Channel catalog
          schema:
            $ref: '#/definitions/channelCatalog'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
    delete:
      tags:
      - Global
      summary: Delete the channel catalog
      operationId: DeleteChannelCatalog
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
      responses:
        204:
          description: Channel catalog deleted
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/{channelCatalogId}/enable':
    post:
      tags:
      - Settings
      summary: Enable a channel catalog
      operationId: EnableChannelCatalog
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
      responses:
        204:
          description: Channel catalog enabled
        402:
          description: You have to upgrade your offer to activate this channel catalog
          schema:
            $ref: '#/definitions/upgradeOfferRequired'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
    
  '/{channelCatalogId}/disable':
    post:
      tags:
      - Settings
      summary: Disable a channel catalog
      operationId: DisableChannelCatalog
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
      responses:
        204:
          description: Channel catalog disabled
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'



  '/{channelCatalogId}/settings/general':
    put:
      tags:
      - Settings
      summary: Configure channel catalog general settings
      operationId: ConfigureChannelCatalogGeneralSettings
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/generalSettings'
      responses:
        204:
          description: Channel catalog general settings configured
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

  '/{channelCatalogId}/settings/cost':
    put:
      tags:
      - Settings
      summary: Configure channel catalog cost settings
      operationId: ConfigureChannelCatalogCostSettings
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/costSettings'
      responses:
        204:
          description: Channel catalog cost settings configured
          
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
      
  '/{channelCatalogId}/columnMappings':
    put:
      tags:
      - Column Mappings
      summary: Configure channel catalog column mappings
      operationId: ConfigureChannelCatalogColumnMappings
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/channelCatalogColumnMappingList'
      responses:
        204:
          description: Channel catalog column mappings configured

        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

  '/{channelCatalogId}/categoryMappings':
    get:
      tags:
      - Category Mappings
      summary: Get channel catalog categories
      operationId: GetChannelCatalogCategories
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
      responses:
        200:
          description: Channel catalog category mappings
          schema:
            $ref: '#/definitions/channelCatalogCategoryMappings'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/{channelCatalogId}/categoryMappings/disable':
    post:
      tags:
      - Category Mappings
      summary: Disable a channel catalog category mapping
      operationId: DisableChannelCatalogCategoryMapping
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
      responses:
        204:
          description: Channel catalog category mapping disabled
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/{channelCatalogId}/categoryMappings/reenable':
    post:
      tags:
      - Category Mappings
      summary: Reenable a channel catalog category mapping
      operationId: ReenableChannelCatalogCategoryMapping
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
      responses:
        204:
          description: Channel catalog category mapping reenabled
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/{channelCatalogId}/categoryMappings/map':
    post:
      tags:
      - Category Mappings
      summary: Map channel catalog category
      operationId: MapChannelCatalogCategory
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/mapCategoryRequest'
      responses:
        204:
          description: Channel catalog category mapped
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
          
  '/{channelCatalogId}/categoryMappings/unmap':
    post:
      tags:
      - Category Mappings
      summary: Unmap channel catalog category
      operationId: UnmapChannelCatalogCategory
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/unmapCategoryRequest'
      responses:
        204:
          description: Channel catalog category unmapped
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

  '/exclusionFilterOperators':
    get:
      tags:
      - Exclusion Filters
      summary: Get channel catalog exclusion filter operators
      operationId: GetChannelCatalogExclusionFilterOperators
      responses:
        200:
          description: Channel catalog exclusion filter operator list
          schema:
            type: array
            items:
              $ref: '#/definitions/exclusionFilterOperator'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

  '/{channelCatalogId}/exclusionFilters':
    get:
      tags:
      - Exclusion Filters
      summary: Get channel catalog exclusion filters
      operationId: GetChannelCatalogExclusionFilters
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
      responses:
        200:
          description: Channel catalog exclusion filter list
          schema:
            $ref: '#/definitions/exclusionFiltersResponse'

        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

    
    put:
      tags:
      - Exclusion Filters
      summary: Configure channel catalog exclusion filters
      operationId: ConfigureChannelCatalogExclusionFilters
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/exclusionFilters'
      responses:
        204:
          description: Channel catalog exclusion filter list configured

        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/{channelCatalogId}/products':
    post:
      tags:
      - Products
      summary: Get channel catalog product information list
      operationId: GetChannelCatalogProductInfoList
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
        - name: request
          in: body
          required: true
          description: The channel catalog product list filter
          schema:
            $ref: '#/definitions/getChannelCatalogProductInfoListRequest'
      responses:
        200:
          description: Channel catalog product information
          schema:
            $ref: '#/definitions/channelCatalogProductInfoList'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

  '/{channelCatalogId}/products/export':
    post:
      tags:
      - Products
      summary: Export channel catalog product information list
      operationId: ExportChannelCatalogProductInfoList
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
        - $ref: '#/parameters/exportFormatInQueryGeneralParameter'
        - name: request
          in: body
          required: true
          description: The channel catalog product list filter
          schema:
            $ref: '#/definitions/getChannelCatalogProductInfoListRequest'
      responses:
        200:
          description: Channel catalog product information list exported
          headers:
            Location: 
              description: |
                To indicate the url of the export file
                Example: https://beezupchannel.blob.core.windows.net/reports/exports/Excel_Products.xslx
              type: string

          schema:
            $ref: https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3
          examples:
            application/json:
              href: 'https://beezupchannel.blob.core.windows.net/reports/exports/Excel_Products.xslx'
              method: 'GET'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/{channelCatalogId}/products/counters':
    get:
      tags:
      - Products
      summary: Get channel catalog products' counters
      operationId: GetChannelCatalogProductsCounters
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
      responses:
        200:
          description: Channel catalog products' counters
          schema:
            $ref: '#/definitions/channelCatalogProductsCounters'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'



  '/products/{productId}':
    post:
      tags:
      - Products
      summary: Get channel catalog products related to these channel catalogs 
      operationId: GetChannelCatalogProductByChannelCatalog
      parameters:
        - $ref: '#/parameters/productIdParameter'
        - name: request
          in: body
          schema:
            $ref: '#/definitions/channelCatalogProductByChannelCatalogRequest'
              
      responses:
        200:
          description: The channel catalog product by channel catalog
          schema:
            $ref: '#/definitions/channelCatalogProductByChannelCatalogResponse'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
  
  

  '/{channelCatalogId}/products/{productId}':
    get:
      tags:
      - Products
      summary: Get channel catalog product information
      operationId: GetChannelCatalogProductInfo
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
        - $ref: '#/parameters/productIdParameter'
      responses:
        200:
          description: Channel catalog product information
          schema:
            $ref: '#/definitions/channelCatalogProductInfo'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/{channelCatalogId}/products/{productId}/overrides':
    put:
      tags:
      - Products Overrides
      summary: Override channel catalog product values
      operationId: OverrideChannelCatalogProductValues
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
        - $ref: '#/parameters/productIdParameter'
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/productOverrides'
      responses:
        204:
          description: Channel catalog product overriden
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

  '/{channelCatalogId}/products/{productId}/overrides/{channelColumnId}':
    delete:
      tags:
      - Products Overrides
      summary: Delete a specific channel catalog product value override
      operationId: DeleteChannelCatalogProductValueOverride
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
        - $ref: '#/parameters/productIdParameter'
        - name: channelColumnId
          description: The channel column identifier
          in: path
          type: string
          format: guid
          required: true
          x-example: '8a76f06a-fefc-4c0d-bcfe-b210f1482977'
      responses:
        204:
          description: Channel catalog product value override deleted
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/{channelCatalogId}/products/{productId}/disable':
    post:
      tags:
      - Products Optimisation
      summary: Disable channel catalog product
      operationId: DisableChannelCatalogProduct
      description: |
        By default a all your catalog products are exposed to the channel.
        You can disable a product by using this operation.
        /!\ In case of massive optimisation we recommand you to use the analytics api
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
        - $ref: '#/parameters/productIdParameter'
      responses:
        204:
          description: Channel catalog product disabled
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'

  '/{channelCatalogId}/products/{productId}/reenable':
    post:
      tags:
      - Products Optimisation
      summary: Reenable channel catalog product
      description: |
        By default a all your catalog products are exposed to the channel.
        You can reenable a product by using this operation.
        /!\ In case of massive optimisation we recommand you to use the analytics api
      operationId: ReenableChannelCatalogProduct
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
        - $ref: '#/parameters/productIdParameter'
        
      responses:
        204:
          description: Channel catalog product reenabled
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/{channelCatalogId}/exportations/cache':
    get:
      tags:
      - Exportations
      summary: Get the exportation cache information
      operationId: GetChannelCatalogExportationCacheInfo
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
      responses:
        200:
          description: Channel catalog exportation cache information
          schema:
            $ref: '#/definitions/channelCatalogExportCacheInfoResponse'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
  
  '/{channelCatalogId}/exportations/cache/clear':
    post:
      tags:
      - Exportations
      summary: Clear the exportation cache 
      operationId: ClearChannelCatalogExportationCache
      parameters:
        - $ref: '#/parameters/channelCatalogIdParameter'
      responses:
        204:
          description: Channel catalog exportation cache cleared
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'


  '/{channelCatalogId}/exportations/history':
    get:
      tags:
      - Exportations
      summary: Get the exportation history
      operationId: GetChannelCatalogExportationHistory
      parameters:
      - $ref: '#/parameters/channelCatalogIdParameter'
      - $ref: https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/pageNumberQueryStrngParameter
      - $ref: https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/parameters/pageSizeQueryStrngParameter
      responses:
        200:
          description: Channel catalog exportation history
          schema:
            $ref: '#/definitions/channelCatalogExportationHistory'
        default:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/responses/GeneralError'
            




definitions:


  links.GetChannelCatalogsLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs
        method: GET

  links.GetChannelCatalogExclusionFilterOperatorsLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/exclusionFilterOperators
        method: GET
  
  links.GetChannelCatalogExportationCacheInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/exportations/cache
        method: GET

  links.GetChannelCatalogExportationHistoryLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/exportations/history
        method: GET


  links.ClearChannelCatalogExportationCacheLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/exportations/cache/clear
        method: POST
 
  links.GetChannelCatalogLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0
        method: GET
  
  links.DeleteChannelCatalogLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0
        method: DELETE
        
  links.GetChannelCatalogCategoriesLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - description: If you did not configure the cost settings this link will not be displayed.
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/categoryMappings
        method: GET
        
  links.DisableChannelCatalogCategoryMappingLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/categoryMappings/disable
        method: POST
  
  links.ReenableChannelCatalogCategoryMappingLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/categoryMappings/reenable
        method: POST


  links.MapChannelCatalogCategoryLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/categoryMappings/map
        method: POST
        
  links.UnmapChannelCatalogCategoryLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/categoryMappings/unmap
        method: POST
        parameters:
        - name: request
          in: body
          type: object
          required: true
          value:
            catalogCategoryPath:
            - Vêtements
            - Femmes
            - Chaussures


  links.EnableChannelCatalogLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/enable
        method: POST

  links.DisableChannelCatalogLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/disable
        method: POST
  
  links.GetChannelCatalogProductInfoListLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/products
        method: POST

  links.ExportChannelCatalogProductInfoListLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/products/export
        method: POST
        parameters:
          format:
            in: query
            required: true
            type: string
            value: csv
          


  links.ConfigureChannelCatalogColumnMappingsLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/columnMappings
        method: PUT

  links.ConfigureChannelCatalogGeneralSettingsLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/settings/general
        method: POST

  links.ConfigureChannelCatalogCostSettingsLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/settings/cost
        method: POST

  links.AddChannelCatalogLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs
        method: POST



  links.ConfigureChannelCatalogExclusionFiltersLink:
    allOf: 
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/exclusionFilters
        method: PUT

  links.GetChannelCatalogExclusionFiltersLink:
    allOf: 
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/exclusionFilters
        method: GET

  links.GetChannelCatalogProductInfoLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/products/578419df-1bbf-41a6-96fa-862e42182b67
        method: GET

  links.DisableChannelCatalogProductLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/products/578419df-1bbf-41a6-96fa-862e42182b67/disable
        method: POST

  links.ReenableChannelCatalogProductLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/products/578419df-1bbf-41a6-96fa-862e42182b67/reenable
        method: POST


  links.OverrideChannelCatalogProductValuesLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/channelCatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/products/578419df-1bbf-41a6-96fa-862e42182b67/overrides
        method: POST






  channelCatalogExportCacheInfoResponse:
    type: object
    required:
    - cacheInfo
    - links
    properties:
      cacheInfo:
        $ref: '#/definitions/channelCatalogExportCacheInfo'
      links:
        $ref: '#/definitions/channelCatalogExportCacheInfoResponseLinks'
    
    
    
  channelCatalogExportCacheInfoResponseLinks:
    type: object
    required:
    - self
    properties:
      self:
        $ref: '#/definitions/links.GetChannelCatalogExportationCacheInfoLink'
      clear:
        $ref: '#/definitions/links.ClearChannelCatalogExportationCacheLink'
        
    
  channelCatalogExportCacheInfo:
    type: object
    required:
    - cacheStatus
    properties:
      cacheStatus:
        description: The cache status
        type: string
        #enum:
        #- ReadyForGeneration
        #- Building
        example: ReadyForGeneration
        x-lov: ChannelCatalogExportCacheStatus
      lastUpdateUtcDate:
        type: string
        format: date-time
        description: The last update UTC date of the cache
        example: '2014-08-25T07:32:31.584Z'
      lastContentChangeUtcDate:
        type: string
        format: date-time
        description: The last content change UTC date
        example: '2014-08-25T07:30:31.584Z'
      expirationUtcDate:
        type: string
        format: date-time
        description: The expiration UTC date of the cache
        example: '2014-08-25T08:02:31.584Z'
      feedUrl:
        description: The feed url
        type: string
        example: 'https://www.scootmotoshop.com/feed.xml'
      


  channelCatalogExportationHistoryLinks:
    type: object
    properties:
      self:
        $ref: '#/definitions/links.GetChannelCatalogExportationHistoryLink'
      
  channelCatalogExportationHistory:
    type: object
    required:
    - links
    - exportations
    properties:
      paginationResult:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.PaginationResult'
# [Style Validator (6aebcd41-342d-4790-b578-3d41befb3108) : All model properties must have examples]: Field 'example' required in 'properties'
# [Style Validator (32a521e3-c4d9-43e7-9446-13c5fbcd028a) : All model properties must have examples]: Field 'example' required in 'properties'
      exportations:
        type: array
        items:
          $ref: '#/definitions/channelCatalogExportationReporting'
      links:
        $ref: '#/definitions/channelCatalogExportationHistoryLinks'


  channelCatalogExportationReporting:
    type: object
    required:
    - exportationUtcDate
    - clientIpAddress
    - clientUserAgent
    properties:
      exportationUtcDate:
        description: The exportation UTC date
        type: string
        format: date-time
        example: '2014-08-25T07:32:31.584Z'
      exportationDuration:
        description: |
          The exportation duration. \
          '00:01:00' measn 1 minute.
        type: string
        pattern: (00:1[5-9])|(00:[2-5][0-9])|(0[1-9]:[0-5][0-9])|(1[0-9]:[0-5][0-9])|(2[0-3]:[0-5][0-9])
        example: '00:01:00'
      cacheStatus:
        description: The cache status during the exportation
        type: string
        enum:
        - Error
        - Available
        - GeneratedManually
        example: Available
      exportedProductCount:
        type: integer
        format: int32
        description: The exportated product count during this exportation
        example: 10142
      clientIpAddress:
        type: string
        description: The IP address of the client who requests this exportation
        example: 42.101.42.101
      clientUserAgent:
        type: string
        description: The http header User-Agent sent by the client who requests this operation
        example: 'Wget/1.13.4 (linux-gnu)'
    


  externalLinks.Catalog_GetBeezUPColumnsLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/catalogs/beezUPColumns
        method: GET


  channelCatalogListLinks:
    type: object
    description: |
      Indicates how global actions you can do like how to create a channel catalog, exclusion filter operators, etc...
    properties:
      self:
        $ref: '#/definitions/links.GetChannelCatalogsLink'
      beezUPColumns:
        $ref: '#/definitions/externalLinks.Catalog_GetBeezUPColumnsLink'
      add:
        $ref: '#/definitions/links.AddChannelCatalogLink'
      exclusionFilterOperators:
        $ref: '#/definitions/links.GetChannelCatalogExclusionFilterOperatorsLink'

  channelCatalogListLovLinks:
    type: object
    properties:
      channelCatalogExclusionFilterOperatorLov:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.LOVLink3'
      channelCatalogExportCacheStatusLov:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.LOVLink3'
        

  channelCatalogList:
    type: object
    description: This is the index of the channel catalog API
    properties:
      links:
        $ref: '#/definitions/channelCatalogListLinks'
      lovLinks:
        $ref: '#/definitions/channelCatalogListLovLinks'
# [Style Validator (6aebcd41-342d-4790-b578-3d41befb3108) : All model properties must have examples]: Field 'example' required in 'properties'
# [Style Validator (32a521e3-c4d9-43e7-9446-13c5fbcd028a) : All model properties must have examples]: Field 'example' required in 'properties'
      channelCatalogs:
        type: object
        description: The channel catalog list. The key is the channel catalog identifier 
        additionalProperties:
          $ref: '#/definitions/channelCatalog'
  


  addChannelCatalogRequest:
    type: object
    required:
    - channelId
    - storeId
    properties:
      channelId:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelId'
      storeId:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.StoreId'  


  generalSettings:
    description: Represents the general settings of your channel catalog 
    type: object
    required:
    - acceptToPublishInfo
    - useBid
    - doNotExportOutOfStockProducts
    - activeBeezUPTracking
    properties:
      acceptToPublishInfo:
        description: If true then you authorize disclosure of my statistics generated from clicks and sales
        type: boolean
        example: true
      useBid:
        description: Activate bidding for this channel
        type: boolean
        example: false
      doNotExportOutOfStockProducts:
        description: |
          Do not export "out of stock" products. Note: this option is not taken into account by the counter.
        type: boolean
        example: true
      activeBeezUPTracking:
        description: Activate BeezUP tracking for my statistics (checked by default)
        type: boolean
        default: true
        example: true
        

  costType:
    description: |
      CPC means cost per click.
      CPA means cost per action.
      You can have CPC/CPA with a global cost value.
      You can have CPC/CPA by category the cost value MUST be null
      You can have global fixed price.
    type: string
    enum:
    - CPC_Global 
    - CPA_Global
    - CPC_ByCategory 
    - CPA_ByCategory
    - Fixed_Global
    example: Fixed_Global

  

  channelCostSettings:
    description: Indicate the default configuration of the cost on this channel.
    type: object
    required:
    - costType
    properties:
      costType:
        $ref: '#/definitions/costType'
      globalCostValue:
        description: In case of global cost type, you have to indicate the cost value.
        type: number
        format: decimal
        example: 10.21
  
  
  costSettings:
    description: |
      If this property is not indicated please force the user to configure the cost settings.
      Defines the cost type you have on this channel with the cost value.
    type: object
    required:
    - costType
    properties:
      costType:
        $ref: '#/definitions/costType'
      globalCostValue:
        description: In case of global cost type, you have to indicate the cost value.
        type: number
        format: decimal
        example: 10.21

  
  unmapCategoryRequest:
    description: The request message to unmap a catalog category path to a channel category path
    type: object
    required:
    - catalogCategoryPath
    properties:
      catalogCategoryPath:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.CatalogCategoryPath'
    
  mapCategoryRequest:
    description: The request message to make a mapping between catalog category path and a channel category path
    type: object
    required:
    - overrideSubCategoryMappings
    - autoMapNewSubCategories
    - channelCatalogCategoryMapping
    properties:
      overrideSubCategoryMappings:
        description: Great feature! In case of mapping to parent channel category, you can ask to override the mapping of all sub channel category to this catalog category path
        type: boolean
        example: true
      autoMapNewSubCategories:
        description: Great feature! In case of mapping to parent catalog category, you can ask to automatically map new sub catalog category in the next importation to this channel category path. 
        type: boolean
        example: true
      channelCatalogCategoryMapping:
        $ref: '#/definitions/channelCatalogCategoryMapping'



  channelCatalogCategoryMappingsLinks:
    type: object
    description: The action you can do on the category mappings
    required:
    - self
    properties:
      self:
        $ref: '#/definitions/links.GetChannelCatalogCategoriesLink'
      disable:
        $ref: '#/definitions/links.DisableChannelCatalogCategoryMappingLink'
      reenable:
        $ref: '#/definitions/links.ReenableChannelCatalogCategoryMappingLink'

  channelCatalogCategoryMappings:
    type: object
    required:
    - links
    - channelCatalogCategoryMappings
    properties:
      links:
        $ref: '#/definitions/channelCatalogCategoryMappingsLinks'

# [Style Validator (6aebcd41-342d-4790-b578-3d41befb3108) : All model properties must have examples]: Field 'example' required in 'properties'
# [Style Validator (32a521e3-c4d9-43e7-9446-13c5fbcd028a) : All model properties must have examples]: Field 'example' required in 'properties'
      channelCatalogCategoryMappings:
        type: array
        items:
          $ref: '#/definitions/channelCatalogCategoryMappingInfo'


  channelCatalogCategoryMappingInfoLinks:
    type: object
    properties:
      mapCategory:
        $ref: '#/definitions/links.MapChannelCatalogCategoryLink'
      unmapCategory:
        $ref: '#/definitions/links.UnmapChannelCatalogCategoryLink'

  channelCatalogCategoryMappingInfo:
    type: object
    description: For all catalog categories the current mapping applied 
    required:
    - catalogCategoryPath
    - links
    properties:
      links:
        $ref: '#/definitions/channelCatalogCategoryMappingInfoLinks'
      catalogCategoryPath:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.CatalogCategoryPath'
      channelCategoryPath:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelCategoryPath'
      costValue:
        $ref: '#/definitions/channelCatalogCategoryCostValue'

                


  channelCatalogCategoryCostValue:
    description: In case of CPC_ByCategory or CPA_ByCategory cost type, you have to indicate the cost value.
    type: number
    format: decimal
    example: 10.21
              

    
  channelCatalogCategoryMapping:
    type: object
    description: |
      Represent a mapping between a catalog category path and a channel category path. 
      The cost on this mapping can be applied.
    required:
    - catalogCategoryPath
    - channelCategoryPath
    properties:
      catalogCategoryPath:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.CatalogCategoryPath'
      channelCategoryPath:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelCategoryPath'
      costValue:
        $ref: '#/definitions/channelCatalogCategoryCostValue'

  channelCatalogColumnMappingWithName:
    allOf:
    - $ref: '#/definitions/channelCatalogColumnMapping'
    - type: object
      required:
      - channelColumnId
      - channelColumnName
      properties:
        channelColumnName:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelColumnName'
        channelBeezUPColumnName:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.BeezUPColumnName'
        catalogColumnName:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.CatalogColumnUserName'
        catalogBeezUPColumnName:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.BeezUPColumnName'
          
          

  channelCatalogColumnMapping:
    description: Represent a mapping between a channel column (considering channel category mapping) and a catalog column 
    type: object
    required:
    - channelColumnId
    properties:
      channelColumnId:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelColumnId'
      channelCategoryPath:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelCategoryPath'
      catalogColumnId:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.CatalogColumnId'



  upgradeOfferRequired:
    description: The message contains the offer identifier required to execute this operation
    type: object
    required:
    - offerId
    properties:
      offerId:
        type: integer
        format: int32
        description: The offer identifier required
        example: 9


  channelCatalogColumnMappingListWithName:
    description: The column mapping list between a channel and a catalog 
    type: array
    items:
      $ref: '#/definitions/channelCatalogColumnMappingWithName'

  channelCatalogColumnMappingList:
    description: The column mapping list between a channel and a catalog 
    type: array
    items:
      $ref: '#/definitions/channelCatalogColumnMapping'


  channelCatalogState:
    type: object
    description: Channel Catalog State
    required:
    - exportedProductCount
    - columnMappingStatus
    - categoryMappingState
    - apiSettingStatus
    properties:
      exportedProductCount:
        type: integer
        format: int32
        example: 101
      columnMappingStatus:
        $ref: '#/definitions/columnMappingStatus'
      categoryMappingState:
        $ref: '#/definitions/categoryMappingState'
      apiSettingStatus:
        $ref: '#/definitions/apiSettingStatus'
      

  columnMappingStatus:
    type: string
    enum:
    - warning
    - success
    - failed
    example: success
    
  categoryMappingState:
    description: The category mapping state of the channel catalog
    type: object
    properties:
      status:
        $ref: '#/definitions/categoryMappingStatus'
      uncategorizedProductCount:
        type: integer
        format: int32
        description: Indicates the uncategorized product count
        example: 101
      categorizedWithoutCostProductCount:
        type: integer
        format: int32
        description: Indicates the categorized product count without cost defined on the category
        example: 42
      
        
  categoryMappingStatus:
    type: string
    enum:
    - warning
    - success
    - failed
    example: success
    
  apiSettingStatus:
    type: string
    enum:
    - warning
    - success
    - failed
    example: success
  
  
  
  
  channelCategorySettings:
    type: object
    properties:
      mappingRequired:
        type: boolean
        description: Indicates if the category mapping is required, otherwise you can map the categories but it will not block the publication of your catalog
        example: true
      mappingLeafRequired:
        type: boolean
        description: Indicates if the category mapping is required on category path leaf or not
        example: true


  channelCatalogCategoryMappingSettings:
    type: object
    properties:
      categoryMappingDisabledByMerchant:
        description: Optional parameter. Indicates that you have decided to do not map your categories with the channel's categories.
        type: boolean
        example: false

  channelCatalog:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelBasicInfo'
    - type: object
      description: The channel catalog
      required:
      - channelCatalogId
      - channelId
      - channelName
      - channelImageUrl
      - types
      - storeId
      - enabled
      - state
      - links
      - generalSettings
      - channelCostSettings
      - channelCategorySettings
      - isMarketplace
      - productCount
      properties:
        productCount:
          type: integer
          format: int32
          description: The product count exported considering category mapping. Not all filters have been applied.
          example: 101
        enabled:
          type: boolean
          description: Indicates if the channel catalog is enable
          example: true
        isMarketplace:
          type: boolean
          description: Indicates if this channel catalog is related to a marketplace
          example: true
        channelCatalogId:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelCatalogId'
        storeId:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.StoreId'
        generalSettings:
          $ref: '#/definitions/generalSettings'
        channelCostSettings:
          $ref: '#/definitions/channelCostSettings'
        channelCategorySettings:
          $ref: '#/definitions/channelCategorySettings'
        costSettings:
          $ref: '#/definitions/costSettings'
        categoryMappingSettings:
          $ref: '#/definitions/channelCatalogCategoryMappingSettings'
        columnMappings:
          $ref: '#/definitions/channelCatalogColumnMappingListWithName'
        exclusionFilters:
          $ref: '#/definitions/exclusionFilters'
        
        exportUrl:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.HttpUrl'
        
        state:
          $ref: '#/definitions/channelCatalogState'
          
        types:
          description: The channel type list related to the channel
          type: array
          items:
            type: string
          example:
          - Marketplace
        links:
          $ref: '#/definitions/channelCatalogLinks'





  externalLinks.GetChannelCatalogMarketplaceSettingsLink:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.Link3'
    - example:
        href: /v2/user/marketplaces/channelcatatalogs/6d6b04de-406b-4539-8e7e-bf3e8da5dfb0/settings
        method: GET

 

      
  channelCatalogLinks:
    type: object
    description: Indicates the actions you can do on a channel catalog
    required:
    - self
    properties:
      self:
        $ref: '#/definitions/links.GetChannelCatalogLink'
      delete:
        $ref: '#/definitions/links.DeleteChannelCatalogLink'
      enable:
        $ref: '#/definitions/links.EnableChannelCatalogLink'
      disable:
        $ref: '#/definitions/links.DisableChannelCatalogLink'
      
      configureGeneralSettings:
        $ref: '#/definitions/links.ConfigureChannelCatalogGeneralSettingsLink'
        
      configureCostSettings:
        $ref: '#/definitions/links.ConfigureChannelCatalogCostSettingsLink'
      
      configureColumnMappings:
        $ref: '#/definitions/links.ConfigureChannelCatalogColumnMappingsLink'


      reenableCategoryMappings:
        $ref: '#/definitions/links.ReenableChannelCatalogCategoryMappingLink'
      disableCategoryMappings:
        $ref: '#/definitions/links.DisableChannelCatalogCategoryMappingLink'
      categoryMappings:
        $ref: '#/definitions/links.GetChannelCatalogCategoriesLink'


      exclusionFilters:
        $ref: '#/definitions/links.GetChannelCatalogExclusionFiltersLink'

      products:
        $ref: '#/definitions/links.GetChannelCatalogProductInfoListLink'

      exportationCacheInfo:
        $ref: '#/definitions/links.GetChannelCatalogExportationCacheInfoLink'


      marketplaceSettings:
        $ref: '#/definitions/externalLinks.GetChannelCatalogMarketplaceSettingsLink'



  productOverrides:
    description: The key is the channel column identifier
    type: object
    additionalProperties:
      type: string
    example:
      '8a76f06a-fefc-4c0d-bcfe-b210f1482977': '3563'
      'B7B79A0B-A8DE-54DA-964C-E2704DF3738A': 'SHBELNL56'
      '57F70E81-E4F2-5034-BC65-E1D5C48EBEDA': 'Sony bravia'
      '2A77749D-0AAB-5245-89B5-6A1A4E06DACA': 'http://www.blalbla.nl/images/cache/dldldl.jpg'
      '54B3B3CB-5CA5-5471-9DAE-5310C032059A': 'http://www.blalbla.nl/images/cache/dlmdl.jpg'
      '0EA21509-1141-57BD-B679-371BC98B2ADA': 'http://www.blalbla.nl/images/cache/ldldld.jpg'


  productOverridesWithCatalogValues:
    description: The key is the channel column identifier
    type: object
    additionalProperties:
      $ref: '#/definitions/productOverrideWithCatalogValue'
    example:
      '8a76f06a-fefc-4c0d-bcfe-b210f1482977':
        catalogValue: 'x235'
        override: '3563'
      'B7B79A0B-A8DE-54DA-964C-E2704DF3738A': 
        catalogValue: 'x_ezlSHBELNL56'
        override: 'SHBELNL56'
      '57F70E81-E4F2-5034-BC65-E1D5C48EBEDA': 
        catalogValue: 'Sony'
        override: 'Sony bravia'
      '2A77749D-0AAB-5245-89B5-6A1A4E06DACA': 
        catalogValue: 'http://www.toto.com/thing/images/cache/dldldl.jpg'
        override: 'http://www.blalbla.nl/images/cache/dldldl.jpg'
      '54B3B3CB-5CA5-5471-9DAE-5310C032059A': 
        catalogValue: 'http://www.toto.com/thing/cache/dlmdl.jpg'
        override: 'http://www.blalbla.nl/images/cache/dlmdl.jpg'
      '0EA21509-1141-57BD-B679-371BC98B2ADA': 
        catalogValue: 'http://www.toto.com/thing/images/cache/ldldld.jpg'
        override: 'http://www.blalbla.nl/images/cache/ldldld.jpg'

  productOverrideWithCatalogValue:
    type: object
    required:
    - override
    properties:
      override:
        type: string
        description: The overridden product value
        example: 'Sony bravia'
      catalogValue:
        type: string
        description: The catalog product value
        example: 'Sony'
        



  exclusionFiltersResponseLinks:
    type: object
    required: 
    - self
    properties:
      self:
        $ref: '#/definitions/links.GetChannelCatalogExclusionFiltersLink'
        
      configure:
        $ref: '#/definitions/links.ConfigureChannelCatalogExclusionFiltersLink'
  
  exclusionFiltersResponse:
    type: object
    required: 
    - links
    properties:
      links:
        $ref: '#/definitions/exclusionFiltersResponseLinks'
      exclusionFilters:
        $ref: '#/definitions/exclusionFilters'
        

  exclusionFilters:
    description: The exclusion filter list
    type: array
    items:
      $ref: '#/definitions/exclusionFilter'


  exclusionFilterName:
    type: string
    description: The exclusion filter name
    example: Exclude sony products

  

  exclusionFilter:
    description: The exclusion filter
    type: object
    required:
    - name
    - position
    - groupId
    - positionInGroup
    - channelColumnId
    - operatorName
    - enabled
    properties:
      name:
        $ref: '#/definitions/exclusionFilterName'
      position:
        type: integer
        format: int32
        description: The position of the exclusion filter
        minimum: 1
        example: 1
      groupId:
        type: string
        format: guid
        description: Indicate the filter's group. All filters in the same group means an "AND" operation in the filter group
        example: 'd9833f4b-718a-436f-bab5-89da3d21bf60'
      positionInGroup:
        type: integer
        format: int32
        description: Indicate the filter group position. This information is used for the UI purpose and must be unique in the filter group.
        minimum: 1
        example: 1
      channelColumnId:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelColumnId'
      operatorName:
        $ref: '#/definitions/exclusionFilterOperatorName'
      value:
        description: The value indicate by the user when the filter operation requires it.
        type: string        
        example: 'sony'
      enabled:
        description: indicates if the filter is currently enable.
        type: boolean        
        example: true
        
  exclusionFilterOperatorName:
    description: The exclusion filter operator name 
    type: string
    x-lov: ChannelCatalogExclusionFilterOperator
    example: Contains
    
    
  exclusionFilterOperatorDataType:
    description: Data type of the operator
    enum:
      - string
      - number
    type: string
    default: string
    example: string
    


  exclusionFilterOperator:
    description: The exclusion filter operator
    type: object
    properties:
      name:
        $ref: '#/definitions/exclusionFilterOperatorName'
      expectedChannelColumnDataType:
        $ref: '#/definitions/exclusionFilterOperatorDataType'
      valueRequired:
        type: boolean
        description: This operator requires a value
        example: true
      expectedValueDataType:
        $ref: '#/definitions/exclusionFilterOperatorDataType'
  

  productSetVisibilityCriteriaLogicType:
    description: |
      Indicate how you want to combine the filters:
      * funnel: You will get the products which meet at least one of the product set criterion. The criteria are applied in the following order: 
        - categorization
        - exclusion filters
        - deactivations
      * cumulative: You will get the products which have all the product set criteria
    type: string
    enum:
    - funnel
    - cumulative

  
  productSetVisibilityCriteria:
    type: object
    required:
    - logic
    properties:
      logic:
        $ref: '#/definitions/productSetVisibilityCriteriaLogicType'
      exist:
        type: boolean
        description: If false, search for products absent from the current catalog. If true, search for products currently in the catalog. If null the filter will not be taken in account.
        example: true
      uncategorized:
        type: boolean
        description: Search product WITHOUT category mapped with the channel. If null the filter will not be taken in account.
        example: false
      excluded:
        type: boolean
        description: Search excluded products by at least an exclusion filter. If null the filter will not be taken in account.
        example: false
      disabled:
        type: boolean
        description: Search disabled products. If null the filter will not be taken in account.
        example: false


  getChannelCatalogProductInfoListRequest:
    type: object
    required:
    - pageNumber
    - pageSize
    - criteria
    properties:
      pageNumber:
        type: integer
        format: int32
        minimum: 1
        example: 1
      pageSize:
        type: integer
        format: int32
        minimum: 100
        example: 100
      criteria:
        $ref: '#/definitions/productSetVisibilityCriteria'
      overridden:
        type: boolean
        description: Search overridden products. If null the filter will not be taken in account.
        example: true
      productFilters:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ProductFilters'
      catalogCategoryFilter:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.CatalogCategoryFilter'
      channelCategoryFilter:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelCategoryFilter'
  
        
  
  
  
  channelCatalogProductsCounters:
    type: object
    description: The channel catalog products counters. For each counter you will have a count.
    properties:
      existingProductCount:
        type: integer
        format: int32
        description: Imported product count currently in your catalog.
        example: 1000

      uncategorizedProductCount:
        type: integer
        format: int32
        description: Product count WITHOUT category mapped on existing products.
        example: 250

      excludedProductCountIncludingUncategorized:
        type: integer
        format: int32
        description: Excluded product count INCLUDING uncategorized products on existing products.
        example: 169

      excludedProductCountExcludingUncategorized:
        type: integer
        format: int32
        description: Excluded product count EXCLUDING uncategorized products on existing products.
        example: 150

      disabledProductCountExcludingUncategorizedAndExcluded:
        type: integer
        format: int32
        description: Disabled product count EXCLUDING uncategorized products AND excluded products on existing products.
        example: 50

      disabledProductCountIncludingUncategorizedAndExcluded:
        type: integer
        format: int32
        description: Disabled product count INCLUDING uncategorized products AND excluded products on existing products.
        example: 66
  
  
  
  channelCatalogProductInfoListLinks:
    type: object
    required: 
    - self
    properties:
      self:
        $ref: '#/definitions/links.GetChannelCatalogProductInfoListLink'
      export:
        $ref: '#/definitions/links.ExportChannelCatalogProductInfoListLink'  
  
  channelCatalogProductInfoList:
    description: The channel catalog product info list
    type: object
    required: 
    - paginationResult
    - links
    - productInfos
    properties:
      paginationResult:
        $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.PaginationResult'
      links:
        $ref: '#/definitions/channelCatalogProductInfoListLinks'
          
# [Style Validator (6aebcd41-342d-4790-b578-3d41befb3108) : All model properties must have examples]: Field 'example' required in 'properties'
# [Style Validator (32a521e3-c4d9-43e7-9446-13c5fbcd028a) : All model properties must have examples]: Field 'example' required in 'properties'
      productInfos:
        type: array
        items:
          $ref: '#/definitions/channelCatalogProductInfo'
    
  channelCatalogProductInfo:
    allOf:
    - $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ProductBasicInfo'
    - type: object
      description: The channel catalog product information
      required:
      - productId
      - productExists
      - overrides
      - disabled
      - uncategorized
      - excluded
      - links
      properties:
        overrides:
          $ref: '#/definitions/productOverridesWithCatalogValues'
        disabled:
          type: boolean
          description: Indicates if the product has been disabled or not
          default: false
          example: false
        uncategorized:
          type: boolean
          description: Indicates if the product's category has been NOT mapped to a channel category 
          example: true
        excluded:
          type: boolean
          description: Indicates if the product has been excluded by a exclusion filter
          default: false
          example: true
        excludedBy:
          type: array
          items:
            $ref: '#/definitions/exclusionFilterName'
          example:
          - Exclude sony products
        links:
          $ref: '#/definitions/channelCatalogProductInfoLinks'

  channelCatalogProductInfoLinks:
    description: Indicates the differents actions you can do on a channel product
    type: object
    required:
    - self
    - override
    properties:
      self:
        $ref: '#/definitions/links.GetChannelCatalogProductInfoLink'
      override:
        $ref: '#/definitions/links.OverrideChannelCatalogProductValuesLink'
      disable:
        $ref: '#/definitions/links.DisableChannelCatalogProductLink'
      reenable:
        $ref: '#/definitions/links.ReenableChannelCatalogProductLink'
        


  channelCatalogProductByChannelCatalogRequest:
    type: object
    properties:
# [Style Validator (6aebcd41-342d-4790-b578-3d41befb3108) : All model properties must have examples]: Field 'example' required in 'properties'
# [Style Validator (32a521e3-c4d9-43e7-9446-13c5fbcd028a) : All model properties must have examples]: Field 'example' required in 'properties'
      channelCatalogIds:
        description: The list of channel catalog identifier
        type: array
        items:
          $ref: 'https://api.swaggerhub.com/domains/BeezUP/api.beezup.com/v2#/definitions/BeezUP.Common.ChannelCatalogId'
      
  
  channelCatalogProductByChannelCatalogResponse:
    type: object
    properties:
# [Style Validator (6aebcd41-342d-4790-b578-3d41befb3108) : All model properties must have examples]: Field 'example' required in 'properties'
# [Style Validator (32a521e3-c4d9-43e7-9446-13c5fbcd028a) : All model properties must have examples]: Field 'example' required in 'properties'
      channelCatalogs:
        description: The channel catalog product by channel catalog. The key is the channel catalog identifier 
        type: object
        additionalProperties:
          $ref: '#/definitions/channelCatalogProductInfo'

      
x-azure-api-id: 'V2UserChannelCatalogs'